[2017-08-15 16:58] r4j4h opened #1 "Project startup items"
Hi there! Thanks for starting this.

In my fork I have started adding a Right-click menu, with corresponding Option to toggle on and off, and in a separate, related branch I started added Keyboard Shortcuts, also with a toggle and ideally a keybind customization menu panel in the future.

I want to open a PR now, but I have some concerns I want to address so that I can clean things up appropriatel

[2017-08-15 16:59] cxw42 opened #2 "Add import/export of closed, saved windows/tabs"
- [x] Export because it's a Good Thing
 - [x] Import in case you switch machines
 - **bonus** Import from Tabs Outliner, because I have a lot of saved windows! --- moved to #27

[2017-08-15 17:04] cxw42 commented on #1
My pleasure, and thanks for contributing!  Both are good questions that I would like to think about before I respond, since they will set the course for future contributions as well.  My development environment is cygwin, but I'm not aware that would restrict the toolchain any.  Let me check out Keypress and SASS and then I will have something intelligent to say :) .

[2017-08-15 17:07] cxw42 opened #3 "Move the action buttons to the right margin, hidden when not hovering"
Keep things cleaner visually.  This should also open the way to per-tab actions.

I am working on this in the action-groups branch.

[2017-08-15 19:21] cxw42 commented on #1
@r4j4h would you please point me to your build script (or add it here or in the repo if it's not there yet)?  It's not jumping out at me, and I would like to see what's involved in your present workflow.  Thank you!

[2017-08-16 06:55] r4j4h commented on #1
Hey @cxw42 sorry you are not going crazy, there isn't one yet! The files that are there are [this scss file](https://github.com/r4j4h/TabFern/blob/right-click-context-menu/src/view/contextMenu/contextMenu.scss) and [this css file](https://github.com/r4j4h/TabFern/blob/right-click-context-menu/src/view/contextMenu/contextMenu.css).

The only thing actually using sass functionality is the useless `b

[2017-08-16 14:15] cxw42 opened #4 "Build script"
@r4j4h would you please take this one?

See also discussion in #1.

 - Add a webpack v2 build script that builds into `/dist`.  Assume node/npm/webpack are installed.
 - Document toolchain-installation and building instructions, perhaps in `/HACKING.md` or some such.

For now, please do not minify, and please use non-minified libraries.  I would like to introduce minification later, probably in v1

[2017-08-16 14:18] cxw42 opened #5 "Add user option to save window size/position"
I prefer not saving window size/position since I may use the same set of tabs for different tasks with different window layouts.  However, another option is to save size/position.  Add an option to do so, and sensible handling if the user enables and later disables the option.  If the option is disabled, should previously-saved windows re-open in their saved locations anyway?

Suggested by [Mayken

[2017-08-16 16:17] cxw42 opened #6 "Right-click context menus"
- Add them
- Decide what to put in them

@r4j4h, currently, in fcfa1e4be1aea320ad4509b77e19df8e3afc6eb8, I get the "no shortcut driver" path.  I then observe that shift+right click never unlatches.  I added a `console.log` and it appears that the `win.onkeyup` [here](https://github.com/r4j4h/TabFern/commit/fcfa1e4be1aea320ad4509b77e19df8e3afc6eb8#diff-0a2cbd4297884aa054974860b3ec355cR207) is never

[2017-08-16 16:28] cxw42 commented on #1
Build is indeed now #4 :) .

Context menu is now #6.  I tried that one first since it seemed like a smaller bit to test.  I will check the keyboard shortcuts later.

SASS seems fine to me.  Keypress, likewise - my only concern was that it might interfere with jstree's keyboard nav, but it does not seem to do so in the right-click branch.

From a quick look, I have no objection to webpack.  What ve

[2017-08-16 18:11] cxw42 opened #7 "Add a tea timer"
Because I use one multiple times a day, and I have TabFern open the entire time I'm logged on.

Actually, I have been thinking about adding a hamburger menu at the bottom, since the transparent overlay in Tabs Outliner has tripped me up in the past.  A menu would be a good place for a tea timer, since it wouldn't get in anyone else's way.

[2017-08-17 05:54] r4j4h commented on #1
I didn't think about intereference with jstree's keyboard nav so I am glad you brought that up and that it worked out. For keybinds we should prevent the user from binding over jstree's, or see if we can configure it.. upon initial inspection configuration of shortcuts was removed in v3 as it "follows ARIA spec for trees to enable keyboard navigation for visually impaired people." (see [google gro

[2017-08-17 06:47] r4j4h commented on #6
When you get the "no shortcut driver" does it say anything at the end? I just noticed it appends the `err` instead of passing as a second argument so it may come through Developer Console poorly as [Object object] but hopefully it calls toString on the error. I just pushed some improved error handling to that same branch which may help identify the problem. All the needed files should be there as

[2017-08-17 12:24] cxw42 commented on #1
- I've used node and npm before, so no problem there.
- Also no concerns with an optional dockerfile.  How big is the file?  If it is jumbo, I would like to put it in a submodule, or put it in a separate repo linked from the README.  Maybe a separate repo that has this one as a submodule?  Please open another issue or PR whenever you're ready.

I think everything else on the list has been moved to

[2017-08-17 12:24] #1 closed

[2017-08-17 12:46] cxw42 commented on #6
Sounds good - closing in favor of #9

[2017-08-17 12:46] #6 closed

[2017-08-17 13:30] cxw42 opened #12 "Boldface the currently-focused tab"
As a side note, don't un-highlight the currently-focused tab/window when focus hits the popup because you are clicking on another tree item.

[2017-08-17 13:33] cxw42 opened #13 "Handle tab attach/detach"

[2017-08-18 16:59] cxw42 opened #15 "After deleting a tab that's not the rightmost, click indices are off."
This is because `tabOnRemoved` doesn't update the indices.

[2017-08-18 20:19] #15 closed

[2017-08-19 05:42] r4j4h commented on #4
Yup, I am working on this one. :+1:

[2017-08-19 20:24] cxw42 opened #17 "Don't overwrite save data if it didn't load properly"

[2017-08-21 01:21] #3 closed

[2017-08-21 01:27] cxw42 opened #18 "Open window on screen and with reasonable default size/position"
- [x] When opening a window for the first time, given that the user hasn't saved size and position (since #5 hasn't been implemented yet), open using the default size and a reasonable default position.  See [this SO question](https://stackoverflow.com/q/45693634/2877364).

- [ ] Whenever opening a TabFern window, check the active monitors and make sure the new window is entirely (or at least partl

[2017-08-21 18:49] cxw42 opened #20 "Disable gif animation on favicons in the tree"
Use the first frame to reduce visual distraction.  E.g., per [this](https://stackoverflow.com/q/3688460/2877364)

[2017-08-22 12:32] cxw42 opened #21 "Add in-extension automatic, scheduled backup"
- [ ] Automatically store copies of the current save data on a schedule.  Weekly/monthly, perhaps?
 - [ ] User option to disable the capture of backups
 - [ ] UI to delete specific backups, or all backups
 - [ ] UI to view and restore backups

[2017-08-22 14:24] #17 closed

[2017-08-24 12:40] cxw42 opened #22 "Save popup position even if it doesn't change size"
`onResize` doesn't fire when the popup moves, so we don't save position unless the size also changes.

Possibility: use a `setInterval` callback to check if the position has changed every _n_ seconds, and save if so.

[2017-08-26 12:28] cxw42 opened #23 "Save and mark windows still open when Chrome crashes"
This should be pretty easy - if any windows in the save data are `isOpen && !iskeep` when TabFern starts up, those were crashed windows.

[2017-08-27 21:32] cxw42 commented on #18
Looks like we'll eventually need content scripts per [this](https://stackoverflow.com/q/13141072/2877364).

[2017-08-28 13:10] cxw42 commented on #13
Dragging a group of two tabs to the very end leaves the next-to-last tab with an incorrect index.

[2017-08-28 13:21] #13 closed

[2017-08-31 15:01] cxw42 opened #26 "Add a plugin API"
- [ ] Split the TabFern window and load a plugin's page in an iframe
- [ ] Receive and respond to requests from other extensions for a two-way communication (e.g., #7)
- [ ] Store and forward settings based on extension ID
- [ ] Present plugin settings in the TabFern window
- [ ] Give plugins an entry in the hamburger menu
    - [ ] When the menu item is selected, send a message to the other exten

[2017-09-02 13:27] cxw42 opened #27 "Import Tabs Outliner data"
because I have a lot of saved windows!

[2017-09-03 02:26] #2 closed

[2017-09-03 02:26] #12 closed

[2017-09-03 03:48] cxw42 opened #28 "Keybinds"
@r4j4h Following on from #8, which was merged in the course of the push to v0.1.
Besides the TODO item there, the other thing I would appreciate along with the code is a bit more documentation. At this point, the options and the default bindings don't look to me like they would tell a new user what the shortcuts were for.  Thanks!

[2017-09-05 00:50] cxw42 opened #29 "Handle multiple simultaneous instances of the TabFern popup"
Turns out you can open a new one with "open in new tab" - coordinate those through background.js.

[2017-09-05 13:17] cxw42 opened #30 "Add "Reopen last deleted window""
Because it would be a nice feature to have.  Probably on the hamburger menu; maybe also as a toast.

[2017-09-06 14:15] cxw42 opened #33 "Context-menu item to forget a window without closing it"
Permits you to rename a window only for the current session, without saving it.

[2017-09-07 14:21] #33 closed

[2017-09-08 00:13] cxw42 opened #34 "Fully hierarchical organization"
Windows as children of windows, &c.  Requested by Blank Makkara via user review 2017/09/07.

[2017-09-08 00:13] cxw42 opened #35 "Open/close tab-by-tab"
**Edit** As of 2019-09-26, the former `issue35` branch is now `master`!

Ability to open or close one tab at a time, rather than having to do the entire window at once.  Requested by Blank Makkara via user review 2017/09/07.

## Known issues

### Bugs

- [x] The tests are hard to read and hard to modify.  I need to write a better skeleton so that I can easily write tests expressing the semantics I

[2017-09-08 00:15] cxw42 opened #36 "Move tabs between windows via the TabFern window"
Including moving closed tabs between windows.  Requested by Blank Makkara via user review 2017/09/07.

I would also add the ability to create a new window - e.g., drag a tab's node out of the tree to create a new window to hold that tab (open window for open tabs; closed window for closed tabs).

[2017-09-08 00:15] cxw42 opened #37 "Show data in the extension badge"
What to show?  Number of windows? tabs?  Number open? saved?  Requested by Blank Makkara via user review 2017/09/07.

[2017-09-08 00:16] cxw42 opened #38 "User option to turn off H scrollbar"
@r4j4h Would you be willing to look at this one?  Add a user option to control whether the TabFern window has a horizontal scrollbar or not.  Requested by Blank Makkara via user review 2017/09/07.

Also related to #31.

[2017-09-08 01:06] cxw42 opened #39 "Add a test framework"
- Test runner
 - Unit tests
 - Regression tests

Depends on #4.

[2017-09-08 01:09] cxw42 commented on #22
Closed in 736fc945aae4e2197fe8f3c85997d73a007fd242 - I forgot to mark that in the commit message.

[2017-09-08 01:09] #22 closed

[2017-09-08 01:10] cxw42 opened #40 "Drag-and-drop to rearrange windows in the popup"

[2017-09-08 01:59] bluikko opened #41 "(Reopened) Open windows are duplicated after Chrome restart"
If Chrome is restarted due to an update (regardless of setting "Pages to open on startup" that is set to "Open the New Tab page"), Chrome helpfully re-opens the windows that were open before restart.

But TabFern then naturally creates duplicate windows for all the windows that were re-opened by Chrome.

Could it perhaps be possible to test if a window has exactly same tabs than already existing w

[2017-09-08 11:54] cxw42 commented on #41
@bluikko thanks for testing TabFern, and thanks for reporting!  I have a similar experience sometimes when I refresh the TabFern window during debugging.

This is related to #23, and I would like to handle these two issues together.  I will put this next on my worklist - I am presently working on [Chrome 61 stuff](https://bugs.chromium.org/p/chromium/issues/detail?id=762951) and drag-and-drop rear

[2017-09-08 12:01] cxw42 opened #42 "Switching directly between Chrome windows doesn't always clear the current-tab flag properly"
Changing from one Chrome window directly to another:

    Focus change from 17 to 47; lastfocused 47
    view.js:1217 Tab activated:
    view.js:1218 {tabId: 27, windowId: 17}

But going the other way:

    view.js:1064 Focus change from 47 to -1; lastfocused 17
    view.js:1064 Focus change from 17 to 17; lastfocused 17

That intermediate `-1` throws us off.

[2017-09-08 12:51] cxw42 opened #43 "Add window-sorting options to hamburger menu"
- [x] A-Z
 - [x] Z-A
 - [x] 0-9
 - [x] 9-0

Any other orders?

[2017-09-10 01:40] cxw42 opened #44 ""What's new" notification"

[2017-09-10 02:41] #40 closed

[2017-09-10 02:41] #44 closed

[2017-09-10 20:36] cxw42 commented on #41
@bluikko Are you by any chance comfortable [loading unpacked extensions in developer mode](https://stackoverflow.com/a/24577660/2877364)?  If so, you can test this in [branch v017pre1](https://github.com/cxw42/TabFern/tree/v017pre1).  If not, it will be included in the 0.1.7 update in a few days once I have had more of a chance to test it :) .

[2017-09-11 05:16] r4j4h commented on #38
This sounds good! Though until #31 is solved I think the "stick-to-the-right" functionality needs to disable as well or else it goes offscreen. What do you think?

[2017-09-11 12:38] cxw42 commented on #38
I believe it should be possible to handle both of these issues at once.  At the very least, the current hack with [`vscroll_function`](https://github.com/cxw42/TabFern/blob/master/src/view/view.js#L328) is basically functional.  I do hope there's a cleaner way, but if not, could we just change `overflow` based on a user option, and leave `position: fixed` + `vscroll_function` in place?

[2017-09-12 07:31] r4j4h commented on #38
Yeah, I was thinking add an option, depending on that option add an additional class that adds `overflow-x: hidden` for the user request.

Without changing jstree styles or DOM ordering as is your vscroll function sounds good to me!

[2017-09-12 09:47] cxw42 commented on #38
Cool :) .  Would you please add a commit for this to the #31 branch as you have opportunity?  I will then merge to take care of both at once.  Thank you!

[2017-09-12 17:35] cxw42 opened #46 ""Close" options on hamburger menu"
- [ ] Close all saved windows
- [ ] Close and save all windows
- [ ] Close saved windows; delete unsaved windows

Handy for larger trees, to save scrolling.

[2017-09-13 06:33] bluikko commented on #36
It would be great - similar to the "drag'n'drop windows" feature in 0.1.6 (which is working fine) but for individual tabs.

[2017-09-13 11:58] cxw42 commented on #36
@bluikko Thanks for the test report on drag-and-drop!  How does the importance of this (#36) compare to #34 and #35 in your use of TabFern?  That will affect how I go about the implementation.

[2017-09-13 13:15] bluikko commented on #36
To me #34 would not be important. It is mostly cosmetic and helps to visualize which tabs go together but #35 would be actually useful.

There are several ways to implement #35 and one way could be: a closed tab could be drag'n'dropped out from a closed window, either to an already open window or to outside any existing window thus creating a new window with only the one tab. I guess the other way

[2017-09-13 18:02] cxw42 opened #47 "Long titles make the action buttons flicker"
because the `a.jstree-anchor` and the `div.tf-action-group` are not children of the `div.jstree-wholerow`, so `mouseenter` and `mouseleave` trigger when the mouse moves on and off of the `a` text and the `div` icons.

[2017-09-14 13:41] cxw42 commented on #37
@bluikko Do you have any thoughts about this one?

[2017-09-14 13:43] cxw42 commented on #36
@bluikko I just at-mentioned you in #37 - I am curious to hear your thoughts there.  Did you get a GitHub notification in that issue?  I suspect you probably did, but I would like to confirm.  Thanks!  (I will delete this comment after you respond)

[2017-09-14 14:16] cxw42 commented on #18
It's better, but not ideal.  I am thinking that it might be worth just using whatever was the size/position of the last non-popup window the user interacted with.  That doesn't require content scripts, and would at least be predictable.  Does anyone have any comments or suggestions?

[2017-09-14 14:18] cxw42 opened #48 "Option to prompt for confirmation before deleting a window"
Easy to add, and some users might find it helpful.

[2017-09-14 15:30] cxw42 opened #49 "Ability to add dividers to the list of tabs within a window"
This was a TO feature I used frequently, and I would like to see it in TabFern.  A tree item, instead of being a link to a tab, can be a horizontal rule or other visual divider.

[2017-09-14 19:39] cxw42 commented on #47
A strange one: moving the mouse left-to-right onto the action buttons works fine, but moving the mouse right-to-left onto them makes them nonresponsive even though they do appear.  Maybe change the action group to a transparent div over the whole node?

[2017-09-15 01:02] bluikko commented on #37
The badge would seem to have space for two numbers of up to 3 digits each (above each other).
Amount of tabs open (and possible closed) would be of interest to me.

It might be a configuration option as well but I don't know how much that would increase the workload.

[2017-09-15 13:47] cxw42 opened #50 "Add functions to bulk-rearrange open tabs"
- [ ] Function to collect all open tabs from all open, unsaved windows into a single window.  I discovered this when I just realized I have about 15 windows open, each with only one or two tabs.
 - [ ] Right-click menu function to sort open tabs within a given window

[2017-09-15 18:02] cxw42 opened #51 "Configurable threshold - >n tabs, prompt before opening the window on click"
One click on a window and all of its tabs open, which can be slow if you have lots of tabs in that window.  Add a configuration option `n` so that if a window has more than `n` tabs, on click, it will ask "are you sure?" before opening.  `n=0` => no limit.  Default to 31 because it's a nice round number :) .
Noted by Blank Makkara via user review 2017/09/07:

[2017-09-16 02:13] cxw42 opened #52 "Sometimes action-button clicks fall through to the node"
After fixing #47 in bb4316c, sometimes, when focus is not on the TabFern window, a click on an action button will not register as on the button, but instead as on the node itself.

As far as I can tell, the node is being dehovered briefly during the focus change.  That dehover causes the action buttons to disappear, which in turn causes the click to land on the `div.jstree-wholerow`, whence node s

[2017-09-17 02:13] cxw42 commented on #41
I have fixed some of the cases, but still am working on others.  I am presently refactoring to get a better handle on things, including this issue but in the crash-recovery situation.

Do you happen to know any way to force an update so I could test my code?  I do not, and my Chrome installation updates silently.

[2017-09-17 19:33] cxw42 opened #53 "Show a tour upon first run after installation"
Include at least:

 - Basic functions (rename, close, delete)
 - Zooming (Ctl+plus and Ctl+minus)
 - Getting help

[2017-09-18 23:27] #23 closed

[2017-09-18 23:27] #30 closed

[2017-09-18 23:27] #43 closed

[2017-09-18 23:27] #47 closed

[2017-09-18 23:27] #52 closed

[2017-09-19 00:08] cxw42 commented on #41
Reopened to work on a more robust version

[2017-09-19 11:58] cxw42 opened #55 "Shutting down Windows while Chrome is open causes open tabs to show as "recovered""
Apparently, the normal close processing doesn't happen when the browser is shutting down.  See [pertinent bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=30885).  Observed in v0.1.7.

[2017-09-19 12:59] cxw42 commented on #53
Closed by the combination of a9ef, b350, and 2a4e.

[2017-09-19 12:59] #53 closed

[2017-09-19 18:32] cxw42 opened #56 "Dividers between tabs (basic)"
Need the ability to add some type of divider between tabs, especially in long tab lists.

[2017-09-20 12:52] cxw42 commented on #49
b1d5524 is a first take on this.

[2017-09-21 12:22] cxw42 commented on #39
Commit d6d4057 and subsequent add the [Jasmine](https://jasmine.github.io) test framework as kindly suggested by r4j4h.

[2017-09-21 12:23] cxw42 opened #57 "Add notes to tabs"
You can already rename a window's tree entry to whatever you want.  Add a similar function to permit adding text notes to the tree entries representing tabs.

[2017-09-22 11:55] cxw42 commented on #36
I am testing 231366c for inclusion in v0.1.8 --- that has drag-and-drop between closed windows.  Drag-and-drop rearrangement within and between open windows will follow later, as will drag-and-drop between open and closed windows.

[2017-09-22 20:45] cxw42 commented on #4
Current status: using Jasmine for tests.  Hand-copying from the main trees into `/webstore/` for packaging.  No minifying or bundling.  Script `/check-webstore.sh` helps me spot what needs to change, but usually I just do `cp -R src js webstore` and then see what's left to clean up.

[2017-09-22 20:46] cxw42 opened #58 "Add a way to automatically move a window to the top of the list, and scroll there, when you open it"
Maybe a right-click menu choice?  Or an option for any time a window opens?  My tree is getting long enough that I think it might help.

[2017-09-22 22:50] #56 closed

[2017-09-22 22:50] #57 closed

[2017-09-24 09:19] bluikko opened #61 "Current active tab highlight (bold text) lost in outline after active tab drag-drop moved"
The new functionality of moving tabs within a window by drag'n'drop works fine. But there's a small bug:
if currently active tab (highlighted in bold text) is moved by drag'n'drop, the bold text is lost and does not recover after focus is returned to the active window.

More precisely:
If focus is moved to TabFern window, the active tab highlight (bold text) is lost, which is understandable.
But a

[2017-09-24 09:30] bluikko commented on #41
This seems to be fixed now?

After I gave names to my currently open windows & restarted Chrome for updates, the existing windows were re-opened and kept the old names in TabFern - the open windows did not get duplicated to "Unsaved".

[2017-09-24 16:42] cxw42 commented on #41
Thanks for the report - glad to hear the update case is fixed!  I will leave this open to work on crash recovery.

[2017-09-24 16:43] cxw42 commented on #61
Related to #42.  Thanks for the report!

[2017-09-26 12:36] cxw42 commented on #4
One thing that occurred to me today --- whatever we use for building, I would like to be able to support lazy loading of language packs.  I hope someday to have a large enough audience to need translations :) .  I have looked at some Webpack tutorials and seen [`require.ensure()`](https://webpack.js.org/api/module-methods/#require-ensure), so I think this should not be an issue.  (I also see there

[2017-09-26 22:38] #38 closed

[2017-09-26 22:38] #42 closed

[2017-09-26 22:38] #61 closed

[2017-09-27 03:45] bluikko commented on #36
Seems to work just fine between open windows. I could not find any bugs so far.

[2017-10-10 01:10] cxw42 opened #63 "Save the last-visit timestamp, and sort by it"
- [ ] Save the timestamp a window was last opened (closed?)
- [ ] Sort option by timestamp asc
- [ ] Sort option by timestamp desc

[2017-10-11 00:59] cxw42 commented on #36
@bluikko, are you able to test unpacked extensions?  The `/tabfern` tree in 8fdf0be has full tab dragging and is ready for testing.  If not, would you be willing to try out a test version if I put it in the Chrome Web Store under a different name?  Either way, you would have to manually backup and import your save data, but you could run both at once.

[2017-10-15 12:57] cxw42 opened #64 "Option to open tabs on double click instead of single click"
Are there any other double-click actions of interest?

Requested by LateNightHacks via user review 2017/10/14.

[2017-10-15 12:58] cxw42 commented on #35
Also requested by LateNightHacks via user review 2017/10/14.

[2017-10-15 12:58] cxw42 opened #65 "Option to show the tree connections"
Show the vertical/horizontal lines.
Requested by LateNightHacks via user review 2017/10/14.

[2017-10-15 13:05] cxw42 opened #66 "Option to show each tab's memory usage in the TabFern window"
E.g., next to the icon.

 - [`window.performance`](https://stackoverflow.com/q/36382135/2877364) may require content scripts.  I am trying to avoid those if possible.
 - [`chrome:system` scraping](https://stackoverflow.com/a/18982319/2877364) looks promising, but when I try to XHR it, I get `Not allowed to load local resource: chrome://system/`.

Requested by LateNightHacks via user review 2017/10

[2017-10-15 15:28] cxw42 opened #67 "More compact design (more text on screen at once)"
Requested by LateNightHacks via user review 2017/10/14.

[2017-10-15 15:34] cxw42 opened #68 "Narrower or hidden vertical scrollbar"
What is your preference for a way of scrolling when the scrollbar is hidden?  I tried an easy test: `$('#tree-iframe html') overflow-y: hidden`.  Unfortunately, besides hiding the scrollbar, that disabled mouse-wheel and middle-click+move scrolling on my test system.

Requested by LateNightHacks via user review 2017/10/14.

**Edit** Looks like narrow should be fairly straightforward -- see [here](

[2017-10-15 15:36] cxw42 opened #69 "Customize tab-links representation"
We can certainly change those &mdash; What are you thinking?

Requested by LateNightHacks via user review 2017/10/14.

[2017-10-18 19:51] cxw42 commented on #4
Firefox is much faster than it used to be :) .  It turns out FF largely supports the `chrome.*` APIs for extensions.  Could we set up webpack to build to separate targets, so TabFern could also be available on FF?

[2017-10-19 14:48] #65 closed

[2017-10-23 13:08] cxw42 opened #71 "Permit editing tab notes from the TabFern icon (browser action)"
Because I think it might be handy.

[2017-10-23 13:10] cxw42 opened #72 "Clicking on recovered tab doesn't clear "Recovered" state"
In v0.1.11.

[2017-10-24 13:48] cxw42 opened #73 "Action groups: use position:relative and Hscroll updates, rather than Vscroll updates"
This provides (possibly much) faster Vscrolling.  Relates to #31, #38, and #60.

@r4j4h if you have any thoughts, I would be interested to hear them.  E.g., commit 1ab36fac79408840bacf46d78808cb76a2622f7a and its parent commit 88017aec3330a4ba62e41c9ef5ef780ad5a0bb80.  Using `position:relative` means we never have to change the V position of the `div.tf-action-group`s manually, so `vscroll_functio

[2017-10-24 13:59] cxw42 commented on #36
This has been in production now for a week or so, and I haven't heard any complaints.  Therefore, I am marking this one as for the history books!  Please reopen if you have any issues.

[2017-10-24 13:59] #36 closed

[2017-10-24 14:33] cxw42 opened #74 "New option: If a window has only one tab, use that tab's favicon as the window's icon"
So I can tell which window is YouTube :) .

[2017-10-25 06:05] bluikko commented on #36
I have tried using it several times to re-organize tabs to windows and did not notice any issues so far.

[2017-10-25 09:48] cxw42 opened #75 "Permit searching tabs"
Should be fairly straightforward using the jstree search plugin.  What would be the best way to show the results?  The jstree docs mention that filtering may be slow on large trees, but highlighting might be unwieldy on such trees (scroll to find results? Blech).

Requested by a user via email.

[2017-10-25 12:07] cxw42 opened #76 "Direct-to-cloud backup and restore"
You can copy the backup file anywhere you want, e.g., to a Dropbox folder.  However, it would be nice to be able to back up directly to, and restore directly from, cloud service(s).  This might be Chrome (`chrome.storage.sync`) or another service.

Readers: what services would you like to backup to and restore from?  Please add a comment to let me know.

My own use case requires that I not be logg

[2017-10-25 12:09] cxw42 opened #77 "Syncing between devices"
Following up on #76, permit automatically syncing tabsets between devices.  I would think that would mean each window would have the union of tabs open on any device, but how to handle deleted windows?
  Remove them from all devices?  Ah, the joys of networked sync.

Requested by a user via email 2017/10/25.

[2017-10-26 14:03] cxw42 opened #78 ""Sort open windows to top" should leave closed windows in their existing order"
At present, it sorts all closed windows in alphabetical order, which may throw away work a user has done to organize the windows in the tree manually.

Followup to #43.

[2017-10-30 18:01] cxw42 opened #79 "The "Leave/Stay" dialog causes inconsistent state"
- Go to a page and start editing (or anything that will trigger a leave/stay prompt when you close the tab --- for me, GoToMeeting did it)
- Hit the X in the TabFern window
- When prompted by the tab, hit Stay

Then the window is gone from the TabFern tree, but it is still open, as are all its tabs.

[2017-10-31 19:07] cxw42 opened #80 "i18n"
Including at least translations into:

 - [ ] Russian (because we have a user review in Russian from Aleksey Kasilov, so I know there is value in it)

[2017-10-31 19:09] cxw42 opened #81 "Saving history of browsing in a tab"
Requested by Anton Chupin via user review 2017/09/27.

How to handle this?  Nodes for tabs could expand to show history items.

We'd probably need options to keep only the X most recent items, or some other way to keep the number of items sane.  If there were no limit, `saveTree()` would probably become quite slow.

Alternatively, what about a history view that is sortable by which tab or window t

[2017-11-05 14:39] cxw42 opened #82 "TabFern as a sidebar (TFaaSb?)"
It makes a lot of sense, and should work nicely if we do a Firefox port.  However, [Chrome does not support sidebars](https://bugs.chromium.org/p/chromium/issues/detail?id=477424).  If anyone knows how to use a content script to drop the current page into an `iframe` without trashing the history and the Back button, please let me know :) .  [This example](https://github.com/curtislacy/inject-sideb

[2017-11-05 14:50] #71 closed

[2017-11-05 14:50] #72 closed

[2017-11-05 14:50] #78 closed

[2017-11-05 14:50] #48 closed

[2017-11-05 14:50] #73 closed

[2017-11-09 13:24] cxw42 commented on #75
Also requested by Bruce Huber via support request 2017/11/07:

[2017-11-09 13:38] cxw42 opened #83 "Persist favicons in the tree"
Requested by Bruce Huber via support request 2017/11/07:

I've been thinking about that myself since before 7798975.  I will take this as an answer to [my question](https://github.com/cxw42/TabFern/blob/97346d95316bd1afc574e2606ccc17054573717e/tabfern/src/view/item_details.js#L49) :) .  Search is #75.

Does anyone have any data about how well favicons cache?  I am wondering if we should either loa

[2017-11-13 06:17] bluikko commented on #28
The confirmation dialog for closing a window should also have shortcut keys like &Yes, &No, &Cancel instead of Yes, No, Cancel.

[2017-11-13 15:47] cxw42 commented on #28
@bluikko Agreed.  For now, Enter and Escape work for Yes and Cancel, respectively, and you can turn off the dialog from the Options.  I also plan to add a checkbox for "Don't ask me again."

[2017-11-13 15:53] cxw42 opened #84 "When restoring a backup, don't add trees that already exist"
I think a hash of window text and URLs+bullets+dividers of the tabs should do for comparison.  That would also be helpful for #41.

[2017-11-13 18:36] cxw42 opened #85 "Confirmation-dialog enhancements"
- Yes, No, Cancel (per [this comment](https://github.com/cxw42/TabFern/issues/28#issuecomment-343824392))
 - "Don't ask me again" checkbox

[2017-11-13 18:55] cxw42 commented on #85
Pushed to master by accident.  Leaving this open until v0.1.13 is deployed with the fix.

[2017-11-21 10:38] ShervinM commented on #68
hmmm, yeah, nope, mouse scroll is my everything :D
seems TO uses a custom scrollbar?
yep, something like Scrollbar-Generator looks like the right apprach

[2017-11-21 11:01] ShervinM commented on #67
not really sure what makes the TF window's content look so much bigger to me when I put it side by side TO. it seems to be either the font itself of the white colour for open tabs vs. blue on TO.
When I do %90 zoom everything looks the right density, even then though TO icons still look smaller, or am I imagining it... (ok, took a screenshot of both windows next to each other then cut icons from o

[2017-11-21 11:21] ShervinM commented on #69
for example I would like to change the colour of loaded tabs from white to something more neutral while leaving the current tab's link bold and white
I was thinking of a section in settings rather than hardcoding. I'm thinking something along the lines of tab customisation options on TabMixPlus on firefox. basically being able to decide the font size, colour, bold, italics, etc for unloaded tabs,

[2017-11-21 11:25] ShervinM commented on #66
hmm, this is nice to have at some point but low priority :)

[2017-11-21 11:32] ShervinM commented on #64
maybe something like, ctrl+double click to open the tab in a new window or clone it? not sure how useful it would be
I was just trying to get away from the single click action/execution. it's not the best for security to have things open up/run on single click, also not really the best in UIX design

[2017-11-21 11:44] ShervinM commented on #65
Sweeet!
btw, I can do some graphics for you, I'm not a pro artist but can find my way around photoshop and illustrator. I can make backgrounds and icons and similar stuff. for example the link lines could use an upgrade :)

[2017-11-21 11:50] ShervinM opened #86 "Option to change the window background"
Would be really great if one could change the background of TabFern window. option to customise plain colours would be great. option to have a picture or texture would be amazing. (it would also help with readability of  text)

[2017-11-21 13:18] cxw42 commented on #65
@ShervinM Thanks for your comments on this and other issues!  I will work through them :) .

Always a pleasure to meet a graphician! ;)  Yes, I would certainly appreciate help with the visual assets.  Specifically, the link lines and arrows are [here](https://github.com/vakata/jstree/blob/master/dist/themes/default-dark/32px.png).  If you would like to have a crack at improvements, please feel fre

[2017-11-21 17:25] cxw42 commented on #64
Thinking about it, I can break down actions two ways:

 - Actions that change visibility (e.g., bring a tab to the front)
 - Actions that change working set (e.g., open or close a window or tab; add, delete, or change labels or other information about windows or tabs)

I appreciate the point that changing working set with only one click can sometimes be problematic (see also #51).  What about chan

[2017-11-21 17:36] cxw42 commented on #67
@ShervinM would you please post the side-by-side screenshot (without any tabsets having confidential information)?  I'd like to take a look.  In 0226585dc6e45f344b30a9c2b419f99d443a8123 ([diff](https://github.com/cxw42/TabFern/commit/0226585dc6e45f344b30a9c2b419f99d443a8123#diff-4766606ec3b570e03a2b4c59d54cda6f)) I actually opened up the line spacing by 1px because I found that easier to read.  It

[2017-11-23 01:50] ShervinM commented on #67
here you go, side by side, TF@%100, TF@%90 and TO@%100
I made the yellow boxes at pixel level and they represent equal size, so you can count the dots and compare, same for the icons, look at how they fit inside their square and the gaps.
![d-11](https://user-images.githubusercontent.com/7252356/33155447-ea10b092-d044-11e7-80b6-7ffcc071f2af.jpg)
![d-12](https://user-images.githubusercontent.com/72

[2017-11-23 03:45] ShervinM commented on #67
the icons in TF actually look a bit darker and fuzzier as well, which just started to make sense to me.
favicons are standard 16x16 pixels, TO shows them as 16x16 so they look as they should be. on TF they are shown as 18x18 pixels which is nonstandard, hence the browser resizes them to fit, that would also cause a re-rendering which is the reason behind the duller colours.

[2017-11-23 04:06] ShervinM commented on #64
no action on click itself I guess, I think single click and drag to move the nodes is probably the best way to go about it. I use that extensively (in TO) to organise branches, making sub-branches and in general organising the sea of tabs that I often have open/saved into a somewhat coherent chunks of information. (at the moment I have over 3500 nodes on TO..... branching made that possible)

[2017-11-23 04:11] ShervinM opened #87 "Loading and unloading individual tabs (nodes)"
Currently it is possible to unload a window, would be awesome if we could do the same for individual tabs. can be merged with #35

[2017-11-23 04:26] ShervinM opened #88 "Universal branching and sub-branching"
It would be really useful to be able to branch any and all nodes. to a depth of maybe 16 or 32 sub-nodes (branches)?

[2017-11-23 10:37] cxw42 commented on #88
Yes, indeed!  Closing as duplicate of #34

[2017-11-23 10:37] #88 closed

[2017-11-25 16:50] cxw42 opened #89 "Theme selector"
Supports #86 - if you want a light background, the default-dark theme isn't going to work for you.

[2017-11-25 22:07] cxw42 opened #90 "Background-image positioning options"
Followup to #86 - ability to set center/tile/stretch... for background image

Requested by @bluecabbages 2017/11/25.

[2017-11-28 17:43] cxw42 opened #91 "Ability to copy URLs from the tree"
- Quick hack: an option to popup the URL in an `input()` so the user can Ctl+A / Ctl+C.
 - Longer-term: request clipboard permissions and copy automatically?  E.g., [this](https://stackoverflow.com/a/24984030/2877364)

[2017-11-30 15:04] cxw42 opened #92 "Export and import settings"
In the same way you can now export and import tree data.

[2017-12-08 05:41] BugZappr opened #93 "Red X to close tab"
This is a real common feature, and would enhance the usefulness of TabFern considerably.  Most of these vertical tab applications have a red x that shows up, usually at the extreme right, when you hover over a tab that you can click to close the individual tab.  It also sounds like a likely context menu item.  TF could really use this.  Sometimes, when too many tabs are open, and I have the window

[2017-12-08 05:50] BugZappr opened #94 "Option to NOT save recovered tabs"
I'd just like to use TF as a tab bar replacement.  There are other plugins that I might prefer to use to back up tabs.  When all I do is close Chrome, sometimes I get a new top-level entry "Recovered Tabs".  I'd like the option for TF not to do this for me.  I set Chrome to resume where I left off, so all my tabs are already open, and I don't need additional copies of them piling up every time I o

[2017-12-08 06:21] BugZappr opened #95 "Have tree-less tab bar replacement view"
I'd just like to use TF as a tab bar replacement.  I imagine that TF could have an option to live as a sort of replacement tab bar for Google's awful tab bar.  I keep it open in a column to the left of a single browser window.  The top-level tree view takes up valuable pixels in a vertical bar to the left of the tab.  I think TF might just only show the tabs in the active window, changing them whe

[2017-12-08 07:30] BugZappr opened #96 "Intermittent "Recovered Tabs" showing up when just closing and reopening browser & TF"
I'd like to use TabFern as just a replacement for the Tab Bar.  I have Chrome (really Iron) set in Startup to Continue where I left off.  Sometimes, I get a just a "Recovered Tabs" entry in TF, consisting of just my open tabs.  It would seem more logical if it were still named "Unsaved Tabs" on closing my browser and reopening it, since that's what it read before 'continuing where I left off'.  I

[2017-12-09 19:25] cxw42 commented on #95
Thanks for the request!  Do you want any saving of tabs, or just the vertical display per window?  If the latter, I would recommend a separate extension.  Snapping the tab list to the open window is not too hard.  It would be nicer if Chrome supported sidebars, of course, but as far as I know it does not.

[2017-12-09 19:38] cxw42 commented on #93
Based on your other comments, I think you mean an X to both close the tab and remove the tab from the list in the TabFern window.  Am I understand correctly?  Closing the tab but keeping it in the list is part of #36.

[2017-12-09 20:04] BugZappr commented on #93
I must admit that I have been trying to use TabFern as a bar that exactly mirrors the open tabs, as if it were the lost vertical tab bar in Chrome.  Having your active tabs not exactly mirror your unsaved tabs, to me seems nothing but a source of confusion (as well as not having the active tab scrolled to), so yes, my instinct is to mirror the closing of a TabFern tab with the closing of the real

[2017-12-10 11:06] ShervinM commented on #93
@BugZappr have you used Tabs Outliner at all? this extension is much closer to that than to various vertical tabs list extensions. both Tabs Outliner and Tab Fern are considerably more capable extensions mainly used by people that do extensive reading or research online. aside from basic saving and backup it allows you to organise huge number of tabs while allowing for and maintaining a hierarchy

[2017-12-10 14:31] BugZappr commented on #93
I do extensive reading online, but find bookmarks sufficient for hierarchically organizing my links.  I find Tabs Outliner to be even worse than TabFern about creating top-level entries with all the tabs from my previous session.  It's also crippleware and not open source.

I think a hierarchy of path taken can be consistent with a strict one-to-one relationship of "Unsaved Tabs" matching the orde

[2017-12-12 15:16] cxw42 commented on #93
I'm going to keep this issue as just the red X.

I will think about the more general use case.  The easiest implementation would probably be a separate window you can choose to open that just lists tabs for a particular Chrome window.

[2017-12-12 15:43] #68 closed

[2017-12-12 15:43] #86 closed

[2017-12-12 15:43] #89 closed

[2017-12-12 15:44] cxw42 commented on #85
Released with c51f165

[2017-12-12 15:44] #85 closed

[2017-12-12 17:32] ShervinM opened #97 "Option to change the colour of the narrow scrollbar"
The narrow scrollbar looks AWESOME, now much better than TO I would say, just a minor nitpick, the yellow looks a bit "in the face", would be awesome if we could customize the bar and it's background. it would blend much better with the rest. thanks!

[2017-12-13 14:29] cxw42 opened #98 ""Delete all" when restoring a backup / "Replace from backup""
Currently, "Load contents of a backup" appends rather than overwriting.  This is good for data safety.  However, I switch between development and production versions periodically, and have to manually delete the old entries when I do so.  I would like an option to either delete all, or to replace the existing saved tabs with the contents of a backup instead of appending the backup to what is saved

[2017-12-13 16:56] ShervinM commented on #98
I think one of the common ways is to have a dialog that asks whether to append or replace (the backup file selected)

[2017-12-15 02:20] cxw42 commented on #97
@ShervinM run unpacked if you can't wait ;)

[2017-12-15 17:50] ShervinM commented on #97
haha, it's alright
I like to use TF as my daily driver but it still lacks a few things I rely on heavily. individual tab load/unload is the biggest one.

[2017-12-15 17:54] ShervinM commented on #67
Any ideas on this one? did I make any sense?

[2017-12-15 19:07] cxw42 commented on #67
Yes, it makes sense, and I greatly appreciate the good data!  I agree with your conclusions two comments ago.  Open/close of individual tabs is higher on my list, but I will work on this when I can.  I do think this one is all CSS.

[2017-12-16 03:38] ShervinM opened #99 "Option to import tabs and structure from Tabs Outliner (file import)"
Would be a good feature and an incentive for users to switch, if they could move their often huge list of tabs from TO.
Not sure how much of a headache this one will be. alas this might be helpful
https://groups.google.com/forum/#!topic/tabs-outliner-support-group/eKubL9Iw230

"\databases\chrome-extension_eggkanocgddhmamlbiijnphhppkpkmkl_0"
everything is here, in SQLite format but can be read in p

[2017-12-17 15:27] cxw42 commented on #99
Duplicate of #27 --- I completely agree with you!  I may be able to compile sqlite with emscripten and do it that way.  My preference is to have a converter plugin (once #26 is implemented), especially if I do wind up going with emscripten.  That will keep TF itself lighter.

[2017-12-17 15:27] cxw42 commented on #27
See info in #99

[2017-12-17 17:00] ShervinM commented on #99
D'oh, should have searched before posting

btw, there is interest on firefox side for this extension as well. there was an attempt or two to make it but developers didn't see it through. I did link them here since you are the only developer actively working on any versions of this extension at this point. maybe you could do a firefox port at some point as well? :D
We need faster development ;D (I

[2017-12-17 17:45] cxw42 commented on #99
Indeed!  I looked into that before #82.  It's a lot easier than it used to be; Mozilla provides a shim to use the FF API for Chrome extensions.  The update to FF Quantum also killed some of the older FF extensions, from what I hear.

Unfortunately, may day job

[2017-12-17 17:45] cxw42 commented on #99
Wrong button...

[2017-12-17 17:45] #99 closed

[2017-12-17 18:15] cxw42 opened #100 "Create a Firefox Quantum version of TabFern"
Mentioned in #82 and #99.

 - [ ] Add Mozilla shim to the project
 - [ ] Convert the `chrome.*` calls to `browser.*` calls using the shim

[2017-12-18 14:19] cxw42 commented on #4
@r4j4h I hope all is going well!  Would you have any time next month to work on webpack?  In view of #100, I propose a strawman:

 - `/tabfern`: input
 - `/chrome`: webpack output for Chrome (or `/built/chrome`?)
 - `/ffq`: webpack output for Firefox Quantum (or `/built/ffq`?)
 - `/dist/chrome`: what is currently `/webstore` - manually updated on new releases
 - `/dist/ffq`: the AMO version - manu

[2017-12-22 14:16] cxw42 commented on #87
Yes, indeed - closing as duplicate of #35.

[2017-12-22 14:16] #87 closed

[2018-01-09 15:17] cxw42 commented on #95
See further discussion in #93

[2018-01-10 16:10] bluikko commented on #83
Depending how they are stored client-side, how about just obeying the HTTP cache headers if those are available for the favicons? I think they are usually set to very high values. If storage is an issue, expire LRU or whatever...

[2018-01-10 16:15] bluikko commented on #75
I do not see any changes referenced so my comments assume that this enhancement is still at the same design state.

I do not know the libraries that were mentioned. I have not followed this area of programming seriously for ages so cannot estimate the workload or actual feasibility of my opinions. Anyhow, in response to the above post...

Would it not be simplest and the low-hanging fruit to have

[2018-01-10 16:54] bluikko commented on #89
Is this intended:
![image](https://user-images.githubusercontent.com/14869000/34784453-debf0b8e-f660-11e7-90cb-a7cd35c0a4e8.png)

Unfortunately I had to redact the favicons and tab names for privacy. Theme was changed to "light" for the first time and at the same time I enabled "connecting lines". If it is a bug should it be a new issue?

I'm not sure why the "Tabfern" is under "Recovered tabs"?

[2018-01-10 17:53] cxw42 opened #102 "Window jumps back to the top after drag and drop"
Steps:

 1. Shrink the window so the whole tree doesn't fit
 1. Scroll down
 1. Use drag-and-drop to rearrange two closed windows in the tree

Expected: scroll position doesn't change

Observed: the scroll position snaps back to the very top.

**Edit** Is this an upstream issue?  From a quick look, the completion of the dnd for two closed windows is handled entirely by jstree.

**Edit 2** This als

[2018-01-10 18:11] cxw42 commented on #89
@bluikko Thanks for the report!  To answer your question in the other issue, yes, status is as you see it in these issue records.  December was very full with my day job :) .

No, the black center/white outside is not intentional.  Would you please let me know what your sequence of steps was, if you remember it?  Also, which version?  0.1.13, or are you trying the 0.14.1-rc.1 release candidate?  I

[2018-01-10 19:02] ShervinM commented on #83
So, I had a look at my cached icons and this is what I could see
Average 16x16 favicon is under 1KB, and for complex patterns it can go maybe up to ~4KB
Average 32x32 favicon is under 4KB, and for complex patterns it can go maybe up to ~6KB
Average 64x64 favicon is around 30KB
Average 128x128 favicon is around 90KB

Standard favicon is 16x16. could be worth it to convert the larger ones to 16x16 s

[2018-01-10 19:19] ShervinM commented on #75
hmm, if the search box is regex enabled, would it interfere with novice/basic search? I mean, if they don't include any operators, wouldn't it just return basic search results?

[2018-01-10 20:45] cxw42 commented on #83
@bluikko My initial thought behind storing the favicons offline was because I use TabFern offline fairly often.  Although, now that I think about it, requiring icons offline when you can't actually access the sites they represent probably doesn't make a lot of sense... ;)

@ShervinM thanks for the data!  I agree 16x16 is the right size to store.  I think that, to start with, loading from the URLs

[2018-01-10 20:52] cxw42 commented on #75
The titles, tab/window notes (called "bullets" in the code), and URLs are already stored in the tree, but not in a form that is easy to search all in one place.  That is why I was thinking about a separate search engine.  However, maybe I'll just try the vanilla jstree search to have *something*, then get fancier later.

I like advanced search and regexes :) .  A dedicated search engine would prov

[2018-01-10 21:03] cxw42 commented on #75
I just remembered why I didn't add the jstree plugin earlier.  It is [linear in the tree size](https://github.com/vakata/jstree/blob/master/src/jstree.search.js#L202) and runs in the main thread.  A 5KT user would be waiting a long time for a search to run!

A search engine, by contrast, can be dropped into a Web Worker, load the data in the background, then accept queries and return results in ~l

[2018-01-10 21:28] TealG commented on #75
Some ideas that would be nice to have:
 - set tags for groups and then filter/search for these
 - group filter/search separately from windows, based on tag/title

[2018-01-11 13:02] cxw42 commented on #75
@TealG thanks for the ideas!  I hadn't thought about tagging.  Would you please open a separate issue for those?  I would like to continue discussion of fulltext search in this issue.  Much appreciated!

[2018-01-11 13:14] cxw42 commented on #89
@bluikko I just realized I may be misunderstanding your image.  Is the black box entirely your redaction box?  If the only issue you are mentioning is the Settings window showing in "Recovered tabs," then yes, it is a known issue :) .  Did you use F5 in the TabFern window to apply the theme changes, or did you close and reopen the window?

With the Light theme and connecting lines, is the whole ba

[2018-01-11 13:14] cxw42 commented on #96
This happens for me fairly regularly when I:

 - open a window with only the TabFern settings page
 - close the TabFern window (red "X" on Windows)
 - reopen the TabFern window by clicking the TabFern button in the browser toolbar.

The same thing seems to have happened to @bluikko in #89.

It does not seem to happen as regularly for me with other URLs, curiously.

[2018-01-11 13:16] cxw42 opened #103 "New option to redact titles, notes, favicons without touching the database"
In #89, @bluikko had to manually redact a screenshot before pasting it in.  It would be nice to have an option that would blank out all the icons and text, without changing the layout, for the sake of screenshots.  However, this mode must not trash the contents of the database!

[2018-01-11 15:03] bluikko commented on #89
Yes, the black box is the redaction.

I was questioning about the blue background of the two visible tabs.

Refresh was not done with F5, the window was re-opened. Does this make a difference?

If it makes difference, maybe the text in the theme settings could say "refresh with F5 or Ctrl-R" instead of just "refresh" to avoid ambiguity.

The two mentioned options were enabled. TF window was closed

[2018-01-11 16:54] BugZappr commented on #95
It could be a separate extension.  There are many like it.  The existing ones work poorly.  One argument for not making it a separate extension, is that you wouldn't have to duplicate much of your code-base in another project to maintain; but in either case, I am suggesting a per-window vertical tabs, except one that works.  If you think of the now lost vertical tabs in Chrome, and the existing on

[2018-01-11 17:29] cxw42 commented on #95
I will give this some thought.  The point about duplication is well made, but will be less of an issue after #4.  I also note that TabFern doesn't have URL-as-tooltip - feel free to open another issue of that's of interest to you in TF as it is now.  Thanks!

[2018-01-11 17:35] BugZappr opened #104 "URL's as tooltips"
I suggest that tooltips be used to show URL's.  The advantage there, is that they are not chopped off so you can't see all of them, when they are shown in a vertical tab bar, as opposed to popping up as a tooltip, and letting you see the entire URL.

Another nice option, might be to allow either:

1. The URL in the tooltip,
2. The webpage title in the tooltip, or
3. Both

[2018-01-11 18:09] BugZappr commented on #96
FWIW: I'm running Iron browser vers. 62.0.3250.0 on Win7 sp1, 32-bit.

[2018-01-11 18:45] cxw42 commented on #89
OK - thanks!  I believe this is unrelated to the theme or connecting lines, so I will consider the discussion of your screenshot as part of #96.

[2018-01-11 19:50] cxw42 commented on #102
This is in jstree - `move_node` sometimes calls `_redraw` with `full_redraw==true`.  A full redraw moves every node out of the DOM, so `scrollY` goes to 0, then re-adds everything.

[2018-01-12 18:22] #93 closed

[2018-01-12 18:22] #97 closed

[2018-01-16 20:18] cxw42 commented on #83
Found [this](https://www.reddit.com/r/css/comments/1ycbgi/fallback_background_image_when_first_is_not_found/?st=jci2spwy&sh=50290628).

`jstree.set_icon` adds an inline `background-image`, which will override the CSS `background-image` if one is specified.  Now I need to remind myself why I am using `content` instead of `background-image` for `.fff-page` and the other icon styles!  Either that, or

[2018-01-17 15:48] cxw42 opened #105 ""Close, remember, and add note" as a single action on open windows"
Because I often use close immediately followed by rename (or vice versa), and it would convenient to have them together.

 - At least a context-menu option
 - Maybe also a shift-state action --- Ctl+click on the Close button?
    - If so, add some visual indicator to the action buttons when visible and Ctl is pressed or released.

[2018-01-29 19:14] MaaRak opened #106 "Restoring closed window doesn't remember pinned tabs"
When closing a window where some/all tabs are pinned, reopening the window reopens them all as unpinned tabs.

[2018-01-29 19:55] cxw42 commented on #106
MaaRak, thanks for using TabFern and for the report!  Would you please add a bit more detail?  This will help me figure out what is going on.

 - I think you are referring to pinning in Chrome, by right-clicking on the tab and selecting "Pin tab."  Is that correct?

 - Are you closing the TabFern window itself, or the window that includes the pinned tabs (the one with ![monitor_add](https://user-i

[2018-01-29 19:59] cxw42 opened #107 "Drag-and-drop of open tabs doesn't respect the "Pinned Tab" setting"
A followon to #106.

Steps;

- Open a window with four tabs.
- In the Chrome window, pin the left-hand two tabs.
- In TF, drag the first window to be the new 3rd window.

Observed:

- The node moves down to the third spot
- The Chrome tab only moves to the second spot, because pinned tabs can't move right of non-pinned tabs ([source](https://www.techrepublic.com/blog/tech-sanity-check/how-to-use-p

[2018-01-30 14:42] cxw42 commented on #106
@MaaRak I updated the code based on what I think you are referring to.  Does this look like the behaviour you want?  If I close the window and re-open it, the pinned tabs are still pinned.

![untitled](https://user-images.githubusercontent.com/10515894/35572105-e4721698-05a1-11e8-9507-fcade986a55b.png)

[2018-01-30 18:36] MaaRak commented on #106
Hi cxw42!

To answer your original questions:

- Yes, this is referring to right-clicking and choosing 'pin tab,'
- Referring to closing the window with the pinned tabs,
- Re-opening by clicking either the folder icon or the window title right next to it, and:
- Yes, on the latest version, 0.1.14

And, yes, the pic you have in the second post does look like the behavior I'm looking for! Thanks for

[2018-01-30 18:55] cxw42 commented on #106
@MaaRak You're welcome, and thanks for the additional detail!  If you know how to run Chrome extensions unpacked, check out branch v01f and you can try it now :) .  Otherwise, this fix will be included in the next release.  I am going to close this issue; feel free to add a comment or open a new issue if you have further questions/comments/suggestions/bug reports/&c.!

[2018-01-30 18:56] cxw42 commented on #106
Oh - and for purely selfish reasons, I'll ask --- would you mind starring the project if it is helpful to you?  I'll take all the free publicity I can get :D .

[2018-01-30 19:13] MaaRak commented on #106
Tested and works like a charm! Happily starred, thanks again! This is already a huge improvement to the dead Tab Outliner extension.

[2018-02-01 14:54] cxw42 commented on #106
Drag-and-drop of a pinned node from a closed window to an open window loses the "pinned tab" setting.

[2018-02-01 16:02] cxw42 commented on #106
Bug fixed --- MaaRak, grab the latest if you're continuing to run unpacked.

[2018-02-09 14:54] #106 closed

[2018-02-12 09:09] bluikko commented on #55
Great results! Thank you!

On 0.1.15, after clicking "Restart" for Windows Updates, all windows/tabs were up-to-date and kept their names on Chrome start after reboot.

However:
After opening a window called "MAINLINE", now I have both window called "MAINLINE" (in closed state in TabFern) and "Unsaved" with the same tabs.
I rarely close Chrome so it might be a few weeks until I can test again. I w

[2018-02-12 10:58] cxw42 commented on #41
@bluikko based on your comment in #55, it sounds like this is fixed.  I will close this issue and respond over there.  Thanks for the feedback!

[2018-02-12 10:58] #41 closed

[2018-02-12 11:03] cxw42 commented on #55
@bluikko yes, please open a new issue if you experience the problem again.  This issue is for shutting down Windows without closing all your open tabs first.

For what it's worth, the automatic merge currently only works for actions taken by the system.  If you interact with the TabFern window manually, it assumes you are doing what you want :) .  I was concerned that, for example, if you happened

[2018-02-12 14:07] cxw42 commented on #96
@BugZappr Is this fixed for you in v0.1.15?

[2018-02-12 14:08] cxw42 commented on #107
Fixed in v0.1.15

[2018-02-12 14:08] #107 closed

[2018-02-14 01:58] BugZappr commented on #96
It seems to be.  I've played around with it for about an hour, closing TF, then the browser first, and vice versa.  I'll let you know if I see it again.  As I remember, it was sorta intermittent.

[2018-02-14 20:38] cxw42 commented on #96
@BugZappr thanks!  I will close as you suggest; please do reply if the problem recurs.

[2018-02-14 20:38] #96 closed

[2018-02-19 20:54] cxw42 commented on #83
In my latest development version (3fcf013), favicons are saving and restoring (from network) correctly!  They do not actually get loaded until you expand the tree they are in.  It appears that sometimes they are pulled from cache and sometimes they are not.  TF is not saving them at this time.

As far as I can tell, if the favicon file doesn't exist (e.g., 404), Chrome never reports it to TabFern

[2018-02-20 03:31] bluikko commented on #83
Cases:
- 300 redirects
- slow/unresponsive server (eventual connection timeout), thinking about blocking if loaded serially

[2018-02-21 17:07] cxw42 opened #109 "Don't prompt for confirmation before deleting brand-new tabs [minor]"
When deleting a tab from the TabFern window, if its URL is `chrome://newtab/`, don't prompt for confirmation before deleting, even if the settings would normally cause you to do so.  Since an empty tab isn't probably something you want to keep, and you can always `Reopen closed tab` from Chrome, this should slightly reduce UI friction without negative effects.

Yes, I do care about this because of

[2018-02-28 13:09] cxw42 opened #110 "Save-data v2"
An issue to collect ideas for the next time I bump the version number of the backup file.  Let me know if you have any thoughts about changes you'd like to make to the `.tabfern` format.  TabFern will always include the code to read old backup files, so we do not need to worry about backward compatibility when designing the v2 format.

- Short key names: in my current backup, key names (e.g., `raw

[2018-03-04 21:49] cxw42 opened #111 "Win10, dual-screen different scale factor: summon doesn't work properly"
On Win10, laptop+monitor, with the two screens having different scale factors.  In my tests, monitor=100% and laptop=150%.

 - Summon doesn't work if the TabFern window and the summoned-to Chrome window are on different screens.  The TabFern window goes to the wrong place.
 - The 150%-scale window shows the larger icon, which is not the regular TabFern icon.

[2018-03-04 21:49] cxw42 opened #112 "Win10, dual-screen different scale factor: different icon"
On Win10, laptop+monitor, with the two screens having different scale factors.  In my tests, monitor=100% and laptop=150%.

 - The 150%-scale window shows the larger icon, which is not the regular TabFern icon.

[2018-03-04 22:11] cxw42 commented on #104
Looks like this is as simple as

    T.treeobj.get_node(node_id).a_attr.title=<the raw url>
    T.treeobj.redraw_node(node_id)

in the right places.  If I can drop it into v0.1.16 I will; otherwise, v0.1.17.  (And by the way, I'm still happy to accept this as a pull request from somebody ;) )

@ShervinM

[2018-03-05 14:59] cxw42 opened #114 "User-selectable color for the listing of a tab in the tree"
E.g., for visual categorization of individual tabs.  Maybe add a color selector to the right-click menu?

The color selector should include a predefined palette for easier categorization.  (Unlike the skinny-scrollbar color picker, which does not include such a palette, but certainly could if we had one.)

@ShervinM you mentioned you do some graphics --- do you know of any particularly good palett

[2018-03-08 13:50] #83 closed

[2018-03-08 13:50] #109 closed

[2018-03-08 13:50] #112 closed

[2018-03-11 22:06] TealG opened #115 "Group tags"
A quite useful feature would be the ability to set tags for groups and then filter/search for one or more tags.

[2018-03-11 22:51] cxw42 commented on #115
Interesting idea!  I'd like to find out more about what you're thinking.  Do you have a specific use case in mind?

Re. "group" --- are you thinking of tags for individual windows, as they are at present?  For subsets of tabs in a window?  For groups within a window once #34 (full hierarchy) is implemented?

What type of tags?  User-provided text string?  Choices from a dropdown menu?  Colors?  Mo

[2018-03-12 00:41] cxw42 opened #116 "Focus on hover of a non-focused popup"
In some ways the opposite of #64 - keep single-click actions, but make it possible to raise the TF popup even if it is partially obscured.  E.g., hover for >1s (user-selectable threshold) activates the popup.

(Alternative: raise a modal on hover >thld, and have the modal swallow the click and dismiss itself.)

[2018-03-14 09:55] bluikko opened #117 "Tooltips for buttons"
Buttons on tabs/windows like "rename", "delete" do not have any tooltips.

Especially the middle button of three (looking like a monitor with red circle at the bottom-right corner) is not easy to figure out without clicking.

[2018-03-14 10:06] bluikko commented on #104
Related: #117 about tooltips for buttons.

[2018-03-14 13:31] cxw42 opened #118 "Option to warn before closing a tab that is currently playing audio"
Guess why :) .

Maybe:
 - [x] Track which tabs are playing audio?
 - [x] Display the audio status in TabFern, akin to the pinned status?

Definitely:
 - [x] Provide a user option for whether to prompt
 - [x] If the box is checked, prompt before closing or deleting an open tab that is playing audio.
 - [x] If the box is checked, prompt before closing or deleting a window that includes an open tab t

[2018-03-15 04:10] bluikko opened #119 "Window merging"
Currently on 0.1.16 tabfern there is a slight inconvenience regarding "merging" (?) of windows, referenced in #55.

All windows (and tabs therein) are now correctly recovered after Chrome restart/Windows restart/Windows bluescreen - I tested those. After Chrome is started again, all windows+tabs are listed correctly and with windows having their set names.

But, when the windows are re-opened by c

[2018-03-15 04:20] bluikko commented on #104
+1 on the option 1, I do not see the benefit of options 2, 3 since page title is already displayed.

[2018-03-15 13:00] cxw42 commented on #119
I think you mean that, before you click to re-open a window, there is a "recovered tabs" entry that duplicates the saved entry, but without the window name.  After you click, the "recovered tabs" entry has taken over and the saved entry is untouched.  Is that correct?  If so, I think I might know why --- at present, merging assumes only one window has a given set of tabs (e.g., [here](https://gith

[2018-03-15 14:00] bluikko commented on #119
No, not before click to re-open.

After Chrome starts, tabfern shows everything correctly. All windows that were open (2 windows)/closed (several windows) before start are in closed state and with correct name. There are no "recovered tabs" visible, just like it should be.

After I click a window name to restore the windows + tabs therein, instead of opening the window I clicked at, the whole wind

[2018-03-15 14:41] cxw42 commented on #119
That is very strange!  What version/bitness of Chrome; what OS/version/bitness?  I don't recall ever experiencing a situation like that.

The two open windows - were they open when you last exited Chrome, or last restarted?  What happened prior to Chrome startup?

It is true that merge checking doesn't happen when you manually click a window to open it.  I looked through the code and didn't see an

[2018-03-15 14:53] bluikko commented on #119
Running latest version of Chrome: Version 65.0.3325.162 (Official Build) (64-bit)
Windows 7 64-bit

I make a step-by-step list:
1- Open some windows and put tabs in them.
2- Give the windows names in tabfern.
3- Restart Windows: Chrome exits automatically after starting Windows restart.
4- Open Chrome again after Windows restart.
5- After restart, Chrome opens a new empty window (I do not use Chro

[2018-03-15 14:54] bluikko commented on #119
It is not a big problem, just wanted to let you know.
If v0.2 is coming with a rewrite, perhaps revisit this issue after that release.

[2018-03-15 15:23] cxw42 commented on #119
Thanks for the list, and the compliment! :D  I will try it out.

[2018-03-17 20:52] cxw42 commented on #104
I decided to add separate checkboxes for the URL and for the title.  Now in branch v020 if you want to try it unpacked.

[2018-03-17 22:57] BugZappr commented on #104
I've been thinking about this for some time without any clear feelings, but I can suggest one reason to have the title in the tooltip, even if it is displayed in TabFern.  With the tooltip, you can see the _entire_ title, whereas in TabFern, it is lopped off to whatever the window width TabFern is in.

[2018-03-19 18:35] cxw42 opened #120 "New option to move window to the top of the list on restore"
The option to open new windows at the top of the tree has been around for a long time (21a839fe0d565cfb6858ebd2690407e9d71df650).  Permit doing the same with reopened windows.

[2018-03-23 13:46] cxw42 commented on #119
@bluikko I am sorry to say I was not able to reproduce the issue.  Would you be willing to email me a TF backup file with only the windows that are exhibiting the problem?  I am wondering if perhaps some of the specific tabs in question are redirecting, and there's a race condition somewhere in TF.

[2018-03-23 15:08] bluikko commented on #119
There are 2 windows and initially both of them do open under the named node.
After some time (I checked few days later this time), the named windows are in closed state and two "Unsaved" windows appear.

I will try a process of elimination to find out which tabs cause it. On the first window there are only 7 different sites (most sites have several tabs open). Some of them are complex web applicat

[2018-03-28 14:41] bluikko opened #121 "hamburger menu overlaid with toolbar (delete/red cross icon)"
If hovering over tab/window that is at bottom of tabfern list, the hamburger menu is overlaid over the toolbar's delete/red cross icon button and toolbar is unclickable.

Suggest to either move the hamburger menu to left bottom corner, or detect if toolbar is drawn under the hamburger menu and move toolbar left accordingly (leaving the hamburger menu on the right side of the toolbar).

[2018-03-28 14:46] bluikko commented on #119
I have just tried the following:
- move complex web apps to two windows and name all resulting 2 (normal) + 2 (complex) windows
- backup tabfern data
- restart Windows
After restart all windows are still correctly named, even after I tried to play around and make it "forget" the window names.

So right now I am unable to reproduce this issue.

I will keep on taking notes what I do with Chrome and

[2018-03-28 14:51] bluikko commented on #119
It seems I did manage to get two tabs on different windows to be in bold typeface at the same time.
This github tab staid with bold typeface even after opening a new tab in different windows (but that is a different issue totally).

[2018-03-28 15:03] cxw42 commented on #121
Ah!  That's exactly why you can scroll the window down farther than the last item :) .

![image](https://user-images.githubusercontent.com/10515894/38037778-925234c6-3277-11e8-8d9a-34c80b4afa96.png)

Does that work for you?

[2018-03-28 15:46] bluikko commented on #121
OK, I see. That makes sense, I guess this can be just closed.

[2018-03-28 15:50] bluikko commented on #119
OK, the "Unsaved" windows just happened. Still not sure what made it happen; but it only happened to tabs from 1 window (both "complex" and "normal" web apps) and the second window kept all tabs named.

The tabs on the "Unsaved" windows are exactly same as when I opened - but I did browse to several sites on new tabs and closed the tabs. So now I have same tabs in the 2 "Unsaved" windows as I did

[2018-03-28 15:54] #121 closed

[2018-03-29 01:44] cxw42 commented on #119
Thanks for the updates.  Bold text sometimes has issues because of how Chrome reports focus changes, and I'm not sure I can get it rock-solid.

Alt+F4 is a new one on me - I'll give it a try.  I suspect that means Chrome isn't shutting down the TF window cleanly.  Do you have the Fast Close option set?  I know that causes problems with TF.

[2018-03-29 03:29] bluikko commented on #119
If you mean the Chrome flag "#enable-fast-unload" then no - it is disabled.

[2018-03-29 03:37] bluikko commented on #119
I think I found the problem.

The act of moving a tab from a window to another makes both recipient and destination windows to become "Unsaved".

[2018-04-04 14:37] cxw42 commented on #119
@bluikko Thanks for the updates - please keep me posted if you learn anything else.  Also, if you see any warning or error messages in the TabFern developer console when the problem occurs, please send those (click on the TabFern window and hit Ctl+Shift+I).

I have not been able to reproduce the moving-tab-between-window problem in 0.2.0-pre.1 (is that a good thing?).  I am buried at work at the

[2018-04-13 12:08] cxw42 commented on #35
Closing individual tabs requested by Garreth Tinsley 2018/04/12 via review.

[2018-04-15 19:40] cxw42 commented on #35
@r4j4h @ShervinM @bluikko Anybody who is able to load unpacked and try it out --- This is ready for you to test!  :tada: :tada:

[2018-04-16 18:45] cxw42 commented on #100
Requested by Ismo Räävi via support request 2018/04/15

[2018-04-28 01:20] cxw42 opened #122 "Beta channel in the Chrome Web Store?"
#35 is looking pretty good, but it needs more testing in a wider range of conditions than I can provide.  If I released a TabFern beta as a separate extension in the Chrome Web Store, would you be willing to install and use it?  Please add a thumbs-up or thumbs-down reaction for yes/no, and pass the word around about this poll.  It would have separate tabs and settings, so you would have to import

[2018-05-09 07:53] aleinthesky opened #123 "Vivaldi browser compatibility"
Hi! I love this fantastic extension, and I'd like to use it on the Vivaldi browser, which provides users with a great utility of configurable side panel for pages and extensions. Unfortunately, on the Vivaldi browser, TabFern does not work perfectly. At startup a message appears saying "Initialization not complete, changes will not be saved" and, indeed, the sessions are not saved and can not be r

[2018-05-09 12:30] cxw42 commented on #123
@aleinthesky Thanks for the positive feedback!  I am happy to work on Vivaldi as I have opportunity.  However, I cannot give you any specific timeframe.  I am also hoping to port to Firefox at some point (#100).

Are you able to use TabFern on Vivaldi for any tasks?  Does it show the open windows/tabs, and update as you open/close/rearrange tabs?  What level of functionality does it have?

The nex

[2018-05-09 13:59] cxw42 commented on #123
@aleinthesky By the way, based on your comments above, would you mind dropping a star on the project?  :D

[2018-05-09 14:06] cxw42 commented on #115
Thanks for the detail links - I see the [example of tags](https://orgmode.org/org.html#Tag-inheritance) (and the [example of properties](https://orgmode.org/org.html#Property-syntax)).  I will give this some consideration.  It looks like a useful feature.  It might also be a good candidate for the second plugin once #26 is implemented (the first plugin will be #7 :D ).

[2018-05-09 17:17] TealG commented on #115
yes, looks like that in org-mode.
hierarchies/inheritance could make sense if we also allow tagging individual tabs,
that would be interesting for finding specific tabs

[2018-05-10 13:56] cxw42 commented on #123
I took a quick look using a [standalone install](https://help.vivaldi.com/article/standalone-version-of-vivaldi/) of Vivaldi 1.15.1147.36 (Stable channel) (32-bit) on Win8.1 x64.  TabFern initialized successfully in my testing, both with the current Web Store version (v0.1.16) and my current working version (v0.2.0-pre.1).  I did fix one bug that prevented the Settings page from being opened.

@al

[2018-06-07 12:24] cxw42 opened #124 "Permit opening fewer than all tabs in a window without having to click back onto the TabFern window after each one"
Permit selecting a set of tabs in the tree, and opening only those tabs.  Should work for both closed windows and partly-open windows.

As an alternative or addition, permit clicking on a tab and opening that window, but leaving focus on the TabFern window so you can click to open other tabs before you switch to that window.

Blocked on #35.

[2018-06-28 13:33] cxw42 opened #125 "Inform users about incognito behavior"
From a support request 2018/06/26:

[2018-08-02 01:05] thor79 commented on #55
When I close chrome using the exit command in the chrome menu, upon reopening it, all my pinned tabs appear in a single window (from multiple windows). All non-pinned tabs are stored under "recovered tabs". I frequently have many non-pinned tabs in suspended mode (suspended by The Great Suspender) so I leave a lot of tabs open for sites I may visit somewhat frequently or are associated with things

[2018-08-02 13:12] cxw42 commented on #55
@thor79 Good to hear from you!  I have never used Great Suspender, although I hear good things about it.    I will open a separate issue since the issue happens on exit and not just on shutdown.

I just checked the upstream bugs noted above, and there hasn't been any reported progress.  Therefore, TabFern's ability to properly handle any Chromium shutdown will continue to be somewhat limited :/ .

[2018-08-02 13:14] cxw42 opened #126 "TabFern+Great Suspender+Chrome: undesired exit behaviour"
Reported by @thor79 in #55:

[2018-08-05 14:53] cxw42 commented on #126
From a quick look at [The Great Suspender](https://github.com/deanoemcke/thegreatsuspender), I suspect that TabFern doesn't have a way of knowing that the suspended tabs are any different from any other tabs.

With respect to the pinned tabs, that might be a separate issue, but I need to test before making that determination.

[2018-08-06 15:09] cxw42 opened #127 "Add a "Refresh" option to the hamburger menu"
More cross-platform than `F5`.

Need tree to send a message to main, which can then do `window.location.reload(true)`.

[2018-08-07 21:32] cxw42 opened #128 "Deleting last tab in a window: prompt if either "prompt on delete" option is set."
E.g., an unsaved window with one tab.  Deleting that tab currently doesn't prompt unless "Prompt before deleting tabs" is set.  It should also prompt if "Prompt before deleting windows" is set, since the effect of deleting the last tab will be to delete the window.

[2018-08-08 21:45] Procyon-b opened #129 "Closing tabs but not all disappear from tabfern"
chrome 68.0.3440.84
tabfern 0.1.16.1337

I have noticed that some tabs that I have closed moments ago are still in tabfern's list. The ghost tabs are in different windows. I have looked at the error log for the tabfern window as well as the background script. No errors.
On the windows with ghost tabs, when I click in tabfern past the ghost, the wrong tab is selected (depending on how many ghosts t

[2018-08-09 02:38] Procyon-b commented on #129
No it was not at the same time. But I had 4 windows with 2-5 tabs each and one more with 10 tabs.
The events unfolded like this: the computer was in full hybernate mode. I woke it up, logged in, and started checking tabs. About 2-3 min in the process, I decided to close some of them. They were always focused and where done loading. I closed them by clicking on the tab, not using tabfern. Some of t

[2018-08-09 03:03] Procyon-b commented on #129
It just happened again now.
Chrome has been closed and restarted since last time. I had only one window opened, with 10 tabs. Windows was not swaping. I closed 7 of the tabs, and all became ghost. Then I double-licked TF icon, nothing changed. Then I closed TF window and reopened it, Fixed but with "recovered tabs" added.

![capture](https://user-images.githubusercontent.com/40043075/43875609-56a1

[2018-08-09 13:09] cxw42 commented on #129
Thanks for the detailed report!  I tried reproducing with the same configuration and set of tabs but was not able to trigger the behaviour.  I also looked through the source briefly and don't see the code path that gave you that result.  Here's a picture of the four steps in turning on the full debug output in the developer console, if you're willing to do so---

![image](https://user-images.githu

[2018-08-09 13:14] cxw42 opened #130 "Deleting last tab in a saved window: delete the window, too?"
Currently, when you delete the last tab in a saved window, the saved window entry stays in the TF tree, as does the entry for the last tab.  This is inconsistent with the behaviour when you delete any other tab in a saved window, but it prevents any notes you may have on the saved window from being lost.  What would you like it to do?  Please vote using the following reactions.  Thank you!

 - :+1

[2018-08-09 13:24] cxw42 opened #131 "Force-fix the Chrome "reopen-old-tabs" problem"
Sometimes, when you create a new window (Ctl+N), Chrome reopens the tabs you had open previously.  The problem comes and goes --- see, e.g., [this thread](https://productforums.google.com/forum/#!topic/chrome/7kOoC_tjg2M) from 2017--2018, and a [bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=762951) I submitted.  TabFern could have an option to kill tabs that open, e.g., within

[2018-08-09 15:26] cxw42 opened #132 "Function to do string replacements on saved URLs in the tree"
This is an obscure one, but my use case involves a lot of `file:` URLs.  As a result, if I rename a directory on disk, my saved-tab URLs become invalid.  I would like to be able to right-click on a window's entry in the tree, enter a search and a replacement pattern (maybe `/.../` for regex, else string literal?), and have the replacement applied to the URLs of all the tabs in that window.

[2018-08-09 18:04] Procyon-b commented on #129
I have set the debug mode as asked. We will see if something happens.
Note that chrome has updated today. I'm now running 68.0.3440.106. If it was a problem particular to the former version...

I'm running an old extension, and its behavior (when used in incognito mode) has change since my "return". I was previously running 67.0.3396.99

That's what I thought, but I wanted to describe the whole be

[2018-08-09 18:33] Procyon-b opened #133 "How to get rid of Chrome link preview (if you want)"
When the mouse hovers over tab links, or the option button, chrome displays a link preview at the bottom of the window. If you want to get rid of this there is a simple solution.
If the `href` attribute is not used (an onclick event is doing all the job), you remove the attribute completely.
A consequence is that the mouse pointer doesn't change to the "pointer" icon. You'll have to style the elem

[2018-08-09 19:35] cxw42 commented on #131
Merge-checking needs to be coordinated with pruning.  There is no reliable way to tell (as far as I know) whether a newly-created window was a Ctrl+N, a "Restore session," or some other type of window creation.

A challenging case: close a saved window, then hit Ctl+N.  The new window has the same tabs as the saved window, so gets merged.  Probably not what the user wanted.

Possibilities:

 - pro

[2018-08-09 19:37] cxw42 commented on #133
Thanks for the idea!  Related to #104.

[2018-08-10 00:50] Procyon-b commented on #129
It happened again.
I have noticed that one tab was ghosted, and I knew that it was moments ago. But, not knowing what to look for (what was the tab.id ...), I was unabled to find the relevant information in the debug log. Fortunately, after that every closed tab became a ghost. So i maximized TF window to log a "Saved size" event. Then closed another tab, another ghost. Here is the log:

It's only

[2018-08-10 01:13] cxw42 commented on #129
I don't know about timestamps for console lines.  I did add a DEBUG-level log to each step of `tabOnRemoved`, which is the function in question.  Would you be willing to load v0.1.17-pre.1 unpacked?  Check out branch `v01h` and load `.../tabfern`, which is the dev tree (`.../webstore` is the deployed version).  Make sure the log level is set to DEBUG, and then send me everything from `Tab removed`

[2018-08-10 02:15] Procyon-b commented on #129
v0.1.17-pre.1 loaded and in debug

[2018-08-10 14:25] Procyon-b commented on #129
No ghost but I have noticed that the bold-style of the current tab is missing after a while. After a refresh F5, it goes back to normal.

(5 min after writing the lines above) :
Something may be broken with the "bolding" without being related to ghosts. When I select/swap from one tab to another tab/window without using TF, multiples tabs get bolded.

Tabs count is low: 6 in total in 4 windows.

[2018-08-10 15:00] cxw42 commented on #129
- Anything odd in the debug output?
 - Does the problem also occur on a new profile with no extensions loaded except TF?
 - When the bold disappears, does clicking to a different tab and then back to the first tab fix it without needing to refresh TF?
   - Chrome focus-change detection is not always 100% reliable, so the boldfacing has sometimes gotten off in the past.  However, I cannot reproduce

[2018-08-10 17:40] Procyon-b commented on #129
Could this be chrome's fault ?
I have a "problem" with another extension.
When "Awesome cookie manager" popup window is opened in an incognito window, it used to display incognito cookies. Now, with this version of chrome, it always displays "standard" cookie. I can't see incognito cookies anymore.

[2018-08-10 18:54] cxw42 commented on #129
It could most certainly be Chrome's fault :D :D .  However, the Awesome cookie manager change may have been a change to that extension's incognito mode - see, e.g., [here](https://stackoverflow.com/q/17531848/2877364).

[2018-08-10 19:55] Procyon-b commented on #129
Last version of Awesome cookie manager is: 1.0.0.0 - September 22, 2016
It is definitively not the culprit.

Have you already played with multiple chrome versions on the same computer, or with installing an older version? All pages related to this issue are a bit outdated. Even binaries archives don't work properly or are more than 2 years old. I have finally found a copy of 67.0.3396.79, but don'

[2018-08-13 13:22] cxw42 opened #134 "Restore the saved TF window size earlier in the startup process"
Should be pretty easy - just move the restore before load of the saved tabs.

In response to a review by user [Acer Aspire](https://plus.google.com/108358553097057111872) on 2018/08/09.

[2018-08-13 13:26] cxw42 opened #135 "Localization"
Translate the labels into:

 - **ru** Russian (requested by user [Acer Aspire](https://plus.google.com/108358553097057111872) via review 2018/08/09)
 - **uk** Ukrainian?  There are some reviews that Google Translate says are Ukrainian.

[2018-08-16 17:17] Procyon-b commented on #129
TF v0.1.17-pre.1

Still happening in this version. It seems less frequent (than 0.1.16.1337). Usually I don't notice it immediately so I can't paste a relevant log here.
This time I've seen it. Here is the console log.

[code]

See "tree.js:2456 {Bailing - no tab_node_id: 270, removeinfo: {…}}" ?
I think it failed 2 or 3 tab "closing" events before this line appears.

[2018-08-16 18:10] cxw42 commented on #129
Updated based on the logs --- please grab the latest.  When you catch a `Bailing...` message in the log, would you please look backwards?  (Expand the "Object" entries if you didn't have the console open.)  Whatever the `ctab` # is (e.g,. `270` above), look for something like:

    {Tab removed: 142, removeinfo: {…}}
    {Removing value for ctab: 142, tab_val: {…}, removeinfo: {…}}
    {Removing t

[2018-08-16 23:35] Procyon-b commented on #129
Here it is. Nothing related to 552 after that.

[code]

[2018-08-22 01:49] Procyon-b commented on #129
Here is a new one. I wasn't browsing much. Watching a video on another site (not youtube), and closed this page (459).
I have left the url unchanged, they are not private. That way you can see what changed.
454 is useless, but I left it in case. No event has been removed.

[code]

[2018-08-22 01:57] cxw42 commented on #129
Thanks!  I think I may have it.  Right at the top of the log there is a "replaced".  Those are [not yet handled!](https://github.com/cxw42/TabFern/blob/v01h/tabfern/src/view/tree.js#L2594)  Let me see what I can figure out.  Do you happen to remember how you opened 459?  I've never seen a Replaced event in my own use.

[2018-08-22 02:34] Procyon-b commented on #129
I have to say I don't know what it is. This is not the first instance of "replace" I see. I think I have seen it each time I had a ghost tab.
I browser normally. IIRC that tab was opened from a bookmark: ctrl+click on bookmark. It is located in a bookmark folder on the bookmark bar.

[2018-08-22 12:02] cxw42 commented on #129
I also can't repro this morning, but I just pushed a first version of `tabOnReplaced` based on what I have read [here](https://stackoverflow.com/a/23995989/2877364) and [here](https://stackoverflow.com/questions/18067556/chrome-webnavigation-ontabreplaced-not-firing#comment26477385_18068081).  Would you please pull the latest and see if the problem persists?

(Separately, I am adding i18n in #135.

[2018-08-22 12:47] Procyon-b commented on #129
about translation:
No problem. I'll do it.

Do you plan on adding language support with the standard i18n (the user has no choice), or with an alternative like in tampermonkey. I have made my own in alias bookmarks.
The advantage of my solution is that you can leave original language text in place, as long as you mark the tag containing it. My localize code is 30 lines long.

[2018-08-22 13:13] cxw42 commented on #129
Translation: thank you!  Would you please join me over at #135 for that discussion?

[2018-08-22 13:25] cxw42 commented on #135
@Procyon-b said:

The advantage of my solution is that you can leave original language text in place, as long as you mark the tag containing it. My localize code is 30 lines long.

Currently I'm using the standard, but I am using `_T = chrome.i18n.getMessage;` and then only referring to `_T` after that.  Therefore, it should be straightforward to use a different implementation.  I think you are re

[2018-08-22 13:40] Procyon-b commented on #135
I think, IIRC, tampermonkey is using a solution maskerading as chrome.i18n.getMessage, so anything is possible.

Yes it's loc.js
I have a separate function loading the locale. In that extension, in the background process. But it's easy to implement it in loc.js and have each page load the locale.

Alias bookmarks is using i18n files. Chrome is using it for the manifest file, and in the extension m

[2018-08-22 16:49] Procyon-b commented on #135
Here is the translation.

[messages.fr.zip](https://github.com/cxw42/TabFern/files/2311283/messages.fr.zip)

[2018-08-22 18:42] Procyon-b commented on #135
Full translation of the current file
[messages.zip](https://github.com/cxw42/TabFern/files/2311616/messages.zip)

[2018-08-22 19:13] cxw42 commented on #135
@Procyon-b Thank you very much indeed!  There will be some more messages later, after I finish updating the JavaScript and pulling them out, but I am very happy to have these in place.  Thanks also for the typo correction, which I have applied to the en file.

[2018-08-22 21:46] Procyon-b commented on #135
I have seen your message about "authors".
What is the correct procedure to add modifications? A pull request?
I thought about doing one for message.json, but since you were in the process of applying more modifications (I wasn't sure), I didn't want to get in the way.

[2018-08-22 22:57] cxw42 commented on #135
@Procyon-b The "author" issue is only on GitHub's end --- technically, our current workflow should be just fine.

Yes, pull requests always work --- even if I am working on something in parallel, I will be able to merge the PR.  That happened early in the life of the project, when @r4j4h and I were working on it in parallel --- there's some gnarled merge paths in the early commits :) .  Also, when

[2018-08-25 12:25] cxw42 commented on #129
@Procyon-b Have you had a chance to try the updates in e236de5?

I'm now using the v0.1.17 release candidate (in [`/webstore`](https://github.com/cxw42/TabFern/tree/v01h/webstore)) and am hoping to be able to add this to the changelog for v0.1.17!  However, if you are still seeing ghost tabs, I will release 0.1.17 and then try to nail this one down.  Thanks!

[2018-08-26 02:38] Procyon-b commented on #129
Looks good.
I see 3 "replaced" events. Each paired with "tab replacement", and no "bailing". No ghost tabs in TF.

[2018-08-29 16:55] Procyon-b commented on #129
Last comment to confirm that I haven't seen any problem since I upgraded to 0.1.17-pre.3

[2018-08-29 20:09] cxw42 commented on #129
@Procyon-b Thank you!  I am planning to deploy 0.1.17 early next week.

[2018-09-02 16:33] #117 closed

[2018-09-02 16:33] #92 closed

[2018-09-02 16:33] #127 closed

[2018-09-02 16:33] #128 closed

[2018-09-02 16:33] #129 closed

[2018-09-02 16:33] #134 closed

[2018-09-02 20:24] #131 closed, assigned to cxw42

[2018-09-03 18:15] Yasujizr opened #137 "New Logo for TabFern"
I ran into your project while you were walking around Github. I design a logo for open source projects to do things I can put in sites like Dribbble, Behance. I can design a Logo for you if you want. What kind of Logo do you want? What are the benefits of the program? What are your favorite logo samples?

If you say these, I can design a logo for you.

[2018-09-03 19:35] cxw42 commented on #137
@Yasujizr Thank you for your interest!  I see that you have worked on [some other projects](https://steemit.com/@yasujizr) as well.  I am sure you know, but I want to be clear.  I am not able to pay.
 However, I am happy to list you in the credits.  I would ask for a CC-BY-SA 3.0+ license.

TabFern saves and restores sets of browser tabs.  It will someday be a full tree with nesting (#34).  For no

[2018-09-03 19:36] cxw42 commented on #65
@ShervinM Not sure if you got the notification on #137 - another designer has offered to work on an icon, in case you have any ideas or would like to discuss.  Hope all is going well!

[2018-09-04 13:18] cxw42 commented on #137
@Yasujizr I forgot to ask: do you do icons also?  I would like the favicon to be similar to the logo if possible.  I look forward to your thoughts!  Thanks again!

Separately, if you are interested in UI icon design at all, I would also be happy to talk about that.  I am currently using a mix of [Silk](http://www.famfamfam.com/lab/icons/silk/) and [Font Awesome 4](https://fontawesome.com/v4.7.0/).

[2018-09-06 02:39] Procyon-b opened #138 "How to reproduce "multi bolded tabs""
Open at least 2 windows. Minimize the one that is focused. Select a tab in a window that is not minimized (without the focus going to TF window), this tab should be bold in TF as well as the last focused tab of the minimized window.

(Win7, chrome 68.0.3440.106, TF 0.1.17.1337)

[2018-09-06 02:51] Procyon-b opened #139 "Opening saved tabs with maximized windows"
The screen of my current computer is small, and so, contrary to 2 months ago, I use chrome with its windows maximized. I had not used TF's saved tabs utils now, using instead chrome's ability to start "where I left off" and bookmarked folders.
What I have noticed is that TF opens saved tabs in a window that is nor maximized, neither at the default "restored" size. TF opens the window not maximized

[2018-09-06 02:54] Procyon-b commented on #135
I'm using windows and chrome with interface in english. Let me know if you need to verify the translation, and I'll start chrome in a test profile.

[2018-09-06 09:47] cxw42 commented on #135
@Procyon-b if you're willing, I certainly wouldn't object!  You can also just change your Chrome language to fr and restart Chrome, and you should see results.

If you do create a test profile, make sure to use the `--user-data-dir` command-line argument, since the language is shared between all profiles in a data directory.  https://developer.chrome.com/extensions/i18n#testing-win

Thank you!

[2018-09-06 12:15] cxw42 commented on #138
Thanks!  I am able to reproduce and will look into it.

[2018-09-06 12:17] cxw42 commented on #119
@bluikko I hope all is going well!  Alt+F4 appears to be working for me on recently-released v0.1.17.  Are you still experiencing the problems you were seeing earlier in the year?

[2018-09-06 17:05] Procyon-b commented on #135
I have used method 1 in the past. Here, since I don't plan on using this profile, I have used the shortcut method.
At first glance TF in 'fr' seems correct.

[2018-09-06 17:32] cxw42 commented on #135
Good catch --- I had forgotten about that one.  Added to de and en.  I have some more messages to pull out of the source (e.g., Settings) and will send you, later on, an updated fr/messages.json including the "add/edit" item and those items.  Thank you!

[2018-09-06 19:57] cxw42 commented on #80
Closing in favor of #135

[2018-09-06 19:57] #80 closed

[2018-09-07 17:54] cxw42 commented on #4
@r4j4h I (still ;) ) hope all is going well!  I have just discovered [Brunch](https://brunch.io) and am encouraged - it looks like I may be able to use it to bundle while still keeping my main files at the top level for easier debugging :) .  https://github.com/cxw42/brunch-test

[2018-09-10 14:32] cxw42 opened #140 "Speed?"
This is a placeholder for 378dfc8e4decc583902d217a338ecdc86d2d40c4 and any other speed-related experiments.  Profiling shows that `redraw_node` is the major time sink while loading saved windows into the tree, so I am trying short-circuiting that.

[2018-09-12 10:04] bluikko opened #141 "TabFern should check that window position is not outside of screen on start"
Trying Windows 10, installed Chrome and connected to my account. TabFern window opens outside of the screen - far outside of the left side of the screen and only the "close window" button is visible.

When TabFern window opens, it should check that it is not positioned outside of screen.

It is fixable with Alt-Space, m, and use cursors to move it back to visible screen space.

[2018-09-12 10:08] bluikko opened #142 "Delete window confirmation prompt no focus visible by default"
Deleting a window by clicking the delete button, the confirmation prompt is displayed.
But no focus is visible, even though the focus is really on the "Yes" button (pressing Enter -> executes "Yes").

Strangely if taking a screenshot of only active application window, the screenshot shows focus on "Yes". But it is not displayed on screen or displayed on screenshot of the whole screen.

Not sure if

[2018-09-12 12:39] cxw42 commented on #141
Indeed - and related to #111.  As a shortcut, if you double-click the TF extension icon in the address bar, it will bring the TF window back to the window you're in.

Turns out extensions can use `system.display`, not just apps.  I found [this example](https://github.com/ControlExpert/chrome-multiwindow-positioner) ([SO](https://stackoverflow.com/a/40768797/2877364)).  Therefore, it should be poss

[2018-09-13 14:01] cxw42 commented on #142
Well, after the Chrome 69 update, I am having the same problem even on Win 8.1.  And this even with the Chrome chrome (!) (`chrome://flags/#top-chrome-md`) set to "Normal".  What Chrome version are you running?

I am going to transmogrify this issue into a general UI-overhaul item, since I suspect the best long-term solution is to move away from native widgets. :/

[2018-09-14 12:26] cxw42 commented on #123
@aleinthesky I hope you already saw this, but recently-released v0.1.17 runs in Vivaldi! :tada:  Feel free to open a new issue if you encounter any problems.

[2018-09-14 12:26] #123 closed

[2018-09-14 12:30] cxw42 opened #143 "Option to not open the TabFern popup window on Chrome startup"
I thought I had already entered this, but apparently not.

[2018-09-17 13:26] #143 closed

[2018-09-18 12:36] cxw42 opened #145 "Clean up license information and related documentation"
- [ ] Make sure all the source files and documentation files consistently assert copyright, list the license, and refer to the contributors
- [ ] Add the copyright, license statement+link, and warranty disclaimer to Settings | Welcome

[2018-09-19 16:58] cxw42 commented on #142
@bluikko Bump - please do let me know your Chrome version and your Windows accelerator-underlines setting.  I would like to submit a Chrome bug report with both of our information.  Thanks!

[2018-09-21 17:10] cxw42 opened #146 "Deleting the only tab of an open, saved window closes rather than deleting"

[2018-09-26 14:21] cxw42 opened #147 "Add MRU tab switching (last-used tab)"
Windows Alt+Tab and FF Ctrl+Tab support switching between two tabs, even if they are spaced apart.  Some Chrome solutions are linked [here](https://superuser.com/a/433532/269989).  However, TabFern already has all the information it needs to provide this function at a basic level, so why load a separate extension?

- [ ] Add command for MRU switching
- [ ] Add an array to track MRU per window
- [

[2018-09-27 12:44] vitaly-zdanevich opened #148 "Please add ability to open urls, address bar input in your window"
Useful for full screen.

[2018-09-27 14:04] cxw42 opened #149 "Don't use errfcb onload since the load might get a truthy event"
`callbackOnLoad(ASQ().errfcb())` is dodgy since `errfcb()` might be called with `event` (truthy) as a first parameter.  That would incorrectly cause the sequence to abort.

[2018-09-27 16:03] cxw42 commented on #148
@vitaly-zdanevich I appreciate the request!  Please help me understand.

- Do you use the TabFern window itself full-screen?
- Do you want the address bar at the top of the TabFern window?  Do you want it on the main menu or right-click menu?
- Should the address bar be visible all the time?
- Would typing in an address bar in the TabFern window open a new window?  Would it open a new tab?
- Do yo

[2018-09-28 09:27] vitaly-zdanevich opened #150 "On Mac, interaction with another extension triggers browser slowdown"
I tried to install multiple times and always right after installing I get lagging Chrome, it is almost unusable :(

[2018-09-28 12:43] vitaly-zdanevich commented on #150
Chrome 69.0.3497.100 - current stable branch.

When not installed - Chrome works without that big lags. This lags not just "after" but always after installing this extension, it is difficult to use the browser with it, even when your window is closed.

I have no such lagging experience with any other extension.

Tried to install on new Chrome profile - the same lagging - looks like you mining bitc

[2018-09-28 13:20] cxw42 commented on #150
I appreciate the updates! I have not experienced that myself.  I downloaded the CRX from the Chrome Web Store and I don't see anything odd in it.

Would you please check if there are any errors in the background page?  When the TabFern window is closed, that should be all that's running.  Screenshot of steps:

![untitled](https://user-images.githubusercontent.com/10515894/46210724-0f21a380-c321-11

[2018-09-30 12:55] vitaly-zdanevich commented on #150
I recorded the video about that:

https://www.youtube.com/watch?v=3yABhFsINq8

[2018-09-30 13:10] cxw42 commented on #102
Update: a simple test on [CodePen](https://codepen.io/cxw42/pen/MPYRdr) does not exhibit the behaviour.  It might be in one of my custom plugins.

[2018-10-02 20:37] cxw42 commented on #150
Thanks for the video!  I forgot to ask you about the task manager, so I'm glad you checked that at the end.  I see what you mean about the slowdown.  Also, you may be the first Mac user :) .

 - At 0:57, is the gray screen the TabFern window?
 - At 2:29 it looks like the TF window is still open.  Is that correct?
 - The background.js output is normal, and the CPU/memory of TF at 6:10 and 6:13 also

[2018-10-03 09:49] vitaly-zdanevich commented on #150
Tested on clean Chromium - cannot reproduce, works as expected.

[2018-10-03 11:43] #102 closed

[2018-10-03 11:43] #149 closed

[2018-10-04 12:04] cxw42 commented on #150
OK - I am glad to hear that!  It is probably an extension incompatibility.  For example, TF and The Great Suspender don't work well together (both solve the same problem in different, mutually exclusive ways).  Are you running Great Suspender?

I would like to fix this but need your help to do so.  If you have time, would you please try the clean Chromium, with TabFern, with only one other extensi

[2018-10-10 20:39] Yasujizr commented on #137
![tabfern](https://user-images.githubusercontent.com/36993664/46764650-b02b3980-cce5-11e8-9604-79a580fc69eb.jpg)

Hi, I'm sorry for the late reply. It was a little hard to combine Tab and Fern. I did Fern directly. I thought about the flowerpot format for the tab.

I'd like to do my best for the icons, but we'd better fix the logo first. I'm not very good at icon.

I don't want to pay you. It's en

[2018-10-12 15:50] Yasujizr commented on #137
I'm glad you like it. The font I use in logotypes is Mina (Bold). Waiting for your feedback.

[2018-10-15 10:07] Luckz opened #152 "Flip close/delete (Tabs Outliner style)"
Tabs Outliner orders the context buttons:
note - delete - close

TabFern orders them:
note (- close and save) - delete

=> I keep pressing the delete button when I mean to press the close button.

[2018-10-15 12:43] cxw42 commented on #152
@Luckz Thanks for trying TabFern!  I'd like to know your use case.  Are you using both TO and TF at the same time?  Is this something that is preventing you from switching from TO to TF?

[2018-10-15 13:36] DannyDeLoach opened #153 "Use page titles as default name for each window"
TabFern is great!  I love it.  Here's a suggested feature that would make it even better...

It would be helpful to use page titles as the default name for each Chrome window (like the way windows are listed when I hover over the Chrome icon on the Windows 10 taskbar).  This would be helpful, because it would allow me to more easily and quickly identify the content of each window, even when the wi

[2018-10-15 13:57] cxw42 commented on #153
### Meta

Danny, thanks for the compliment!  May I also impose on you to star on the project to show your support? :D

No worries on tagging - only maintainers can add tags.  When I submit issues to others' projects, I usually just put "feature request" or another suggested tag in the title; maintainers can change the titles as well.

### The issue at hand

It would not be hard to label each windo

[2018-10-15 20:33] DannyDeLoach commented on #153
Thanks for your quick, courteous and helpful reply!

If a window has multiple tags open, my naming preference would be 'The currently-active tab (and N more)'.

I only installed TF this morning.  So, I don't have much experience using it yet, but I would like to be able to use it for saving/restoring.  I've been searching for years for a Chrome session manager that meets my needs.  (I discovered T

[2018-10-15 21:14] RiotPharaoh commented on #152
Hi, if you think it will improve UI/UX, then let me know. I'll make a flip :)  @cxw42

[2018-10-16 01:03] cxw42 commented on #152
@RiotPharaoh Thanks!  I would appreciate this as a feature controlled by a checkbox in Settings | Appearance.  What is your level of JavaScript experience?  (It doesn't need to be very high for this :) )  Have you used node.js and npm?

I am asking because the next release of TabFern uses a Node-based build system.  If you are comfortable with that, I would ask you to please work on a branch off t

[2018-10-18 11:19] philiprhoades commented on #123
@cxw42 ,

I just tried Version 0.1.19 on Fedora 28 x86_64 Vivialdi 2.0.1309.42 (Stable channel) (64-bit) but clicking the button displayed a blank screen at first and then later attempts worked - not sure what was going on.

Anyway, TabFern looks like it could be a full replacement for TO (the unresponsive developer has been driving me crazy for years!) with a bit more work - happy to help however

[2018-10-18 13:13] cxw42 commented on #123
@philiprhoades Phil, Thanks for the feedback and kind words!  Please let me know if you experience further problems.  You can also try double-clicking the TF icon, which will summon the TF window to the current browser window if the TF window is offscreen (#141).

If you have any coding time, or speak any languages other than English, I would certainly appreciate any contributions you care to make

[2018-10-19 02:40] philiprhoades commented on #123
@cxw42
Chris,

Thanks for the informative reply!
My coding / OS background is:

- *nix->DOS->Windows->Xenix 386->Linux (from 0.9 kernels)
- Fortran IV (a long time ago now)->Basic->C->C++(a little)->Ruby

and I could probably help with most of those other things you mentioned.  Since TO has become central to the way I operate in terms of dealing with lots of projects and masses of windows and tabs

[2018-10-19 10:14] cxw42 commented on #123
Phil, sounds good!  You know your skills in detail, and I don't --- what would be the easiest or most feasible thing on my list above for you to start with?  Let me know, and I'll be able to do any preparatory work that may be necessary on my end.

[2018-10-19 10:28] philiprhoades commented on #123
@cxw42 Chris, the first thing I would like to do is test the #35 alpha code operation - but I can't see that that is available yet?  I guess there needs to be a separate Git fork created?

I am happy to start exploring JS but opening single tabs is a big deal for me. I have manually installed a few extensions.

BTW, I find I can have both TO and TF going at the same time which is quite convenient

[2018-10-19 10:35] cxw42 commented on #123
Phil, I am attaching the built source of the latest, which calls itself "TFSwitch".  Unzip and load it as an unpacked extension and you should be ready to try it out!  Please report any bugs at the appropriate issues (e.g., Vivaldi-specific things here, or single-tab things at #35).  See #4 for information if you want to build it yourself from git - the current branch is `switchover` (whence the n

[2018-10-19 10:37] cxw42 commented on #4
Current build instructions using [Brunch](https://brunch.io/):

 - install [node.js](https://nodejs.org/en/), which includes npm
 - `git clone` TabFern wherever you want it
 - `git checkout switchover`
 - `npm brunch b`
 - Then load `public/` as an unpacked extension.

To make a ZIP for uploading, run `npm run zip`.

[2018-10-19 10:42] philiprhoades commented on #123
Will have a quick look before I need catch up on some sleep that I have been missing because of these Chrome / system crashes! (I am on Sydney time).

[2018-10-19 11:02] philiprhoades commented on #123
Looks good! I am writing this from a single tab that was opened from my "Vivaldi / TabFern" saved window. I still get the single empty, white window if I single click on the orange icon but double-clicking works as you said.  I will keep using this version and provide feedback etc as I start finding my way around the code - I saw there was one error that showed up. Actually I should say, if Vivald

[2018-10-19 11:12] cxw42 commented on #123
@philiprhoades Glad to hear it loaded OK!  My experience is that Vivaldi generally is fairly developer-friendly.

I did want to mention that TF and Vivaldi overlap in philosophy to the extent that they both provide lots of options!  If you haven't checked out Settings | Behaviour, please make sure you do so.

Sleep well!

[2018-10-19 11:36] philiprhoades commented on #123
@cxw42 Chris, Everything is going quite well! Yes, I haven't quite made it to bed yet and I was looking at the options - I changed the background to Light instead of Dark. I have now opened (from TO) my five routinely used windows (but usually only with a few of the 20-50 tabs each) and my new V/TF window with all the tabs.

The first thing I notice is that both open and closed tabs are the same c

[2018-10-19 13:07] cxw42 opened #155 "Visually distinguish open from closed tabs"
Several related issues.  Also related to #35.

- Dark theme: partially-open windows have the same color text for hovered closed tabs as for open tabs.  I changed the background color in 31a8e9e46eecee1f81d53a861fb52455a2d35759, which helps, but maybe there's a better way.
- Light theme: The fix in 31a8e9e46eecee1f81d53a861fb52455a2d35759 doesn't help very much - closed tabs and open tabs look the

[2018-10-19 13:09] cxw42 commented on #123
- Same-color tabs: opened new #155 (currently, the only visual distinction in the Light theme is when you hover the mouse over a tab's entry in the tree: closed tabs have a yellow background and open tabs have a blue background).
- Single- vs. double-click: open as #64

Thanks!

[2018-10-20 00:02] philiprhoades commented on #155
My first preference would be to have unopened tabs in grey text for both light and dark themes so you don't need hovering at all.  My second preference would be to have a permanent blue background for open tabs without hovering.

[2018-10-20 00:16] philiprhoades commented on #64
@cxw42 Chris, with TFSwitch I can right click and move the window to the top, but it would be nice to be able to have HOT KEYS for nearly everything to avoid using the mouse:

- A single click for selection of the window in the tree
- CTRL-Home and CTRL-End to move the window to the top or the bottom (like TO)
- CTRL-Up/Down to move the window up or down a position in the tree (like TO)
- Home and

[2018-10-20 00:41] philiprhoades commented on #110
@cxw42 Chris, my preferences:

- Pretty format - so I don't have to use jq to be able to look at the files
- I don't care about file size - only about ease of use and viewing
- User defined backup file name prefix - eg I am saving into TFS dir so I only want: YYYYmmdd_hhmmss

[2018-10-20 12:54] cxw42 commented on #110
Phil, user-defined prefix should be easy.  I'm interested in more detail about your first and second points - do you often read or process your save data files?  This is the first time someone has mentioned there might be a use case other than saving and loading.

[2018-10-20 12:57] cxw42 commented on #64
I also like keyboard shortcuts.  They are #28 - I will edit the title to make that more obvious.

[2018-10-20 12:58] cxw42 commented on #28
Requests from @philiprhoades:

- CTRL-Home and CTRL-End to move the window to the top or the bottom (like TO)
- CTRL-Up/Down to move the window up or down a position in the tree (like TO)
- Home and End for just jumping to the top and bottom of a very long tree - like I have in TO at the moment but will gradually become an issue for me in TFS as I move stuff over . .

[2018-10-23 13:20] cxw42 commented on #152
@RiotPharaoh it just occurred to me - are you looking for a Hacktoberfest credit?  If so, and this issue is more than you have time for in October, I would also accept a PR on the gh-pages branch to update the TabFern web site (e.g., remove the "alpha" indicator, update the documentation to show some of the features that have been added recently).

[2018-10-25 23:46] cxw42 opened #156 "How to handle "Forget" on a partly-open window?"
Once #35 is implemented:

- Open a window with several tabs
- Close one of the tabs.  The window automatically becomes Saved.
- Right-click the window and choose "Forget".  The window is now forgotten, but the tab open/closed state is still the same.

What is the Right Thing to do in this situation?

[2018-10-25 23:49] cxw42 opened #157 "Clicking "close-tab" action button changes selection state but shouldn't"
E.g., when clicking to close a tab in an open window, if we hit "Actually," we've already changed the selection state as if that tab had been brought to the top.  But it definitely hasn't!

[2018-10-25 23:52] cxw42 commented on #155
@philiprhoades Gray text is now implemented on the switchover branch, and attached.  Unzip this right over the top of your existing tfswitch tree, and reload the extension from chrome:extensions.  Let me know what you think!

If you want to change the color, edit line 116 of `win/main-pre.css` and reload the extension to apply your changes.

[webstore-0.2.0-pre.4.zip](https://github.com/cxw42/TabF

[2018-10-28 08:29] philiprhoades commented on #64
Thanks!

[2018-10-28 08:33] philiprhoades commented on #155
Sorry about the slow response - a cousin has been diagnosed with glioblastoma and my hardware hassles now appear to be exacerbated by some idiot trying on a ransom email by knowing one of my less important passwds somehow . .

Anyway, yes that change is perfect!  Thanks for that.

[2018-10-29 02:17] cxw42 commented on #110
@philiprhoades Interesting!  Well, turns out [JSON pretty-printing is easy](https://stackoverflow.com/a/7220510/2877364), so that could be added as an option.  I don't think it would affect the ability to load files (but would want to test that, of course :) ).  When you get a chance, would you please open an issue for a pretty-printing option, and a separate issue for user-defined filename prefix

[2018-10-29 02:17] cxw42 commented on #110
(BTW hit the "Star" button!  Hint, hint! :D :D )

[2018-10-30 01:39] cxw42 commented on #155
@philiprhoades I'm very sorry to hear about your cousin!  I wish your cousin, the doctors, and your whole family all the best.  That is very tough.  I appreciate your thinking of me, but please do not worry about response time!

[2018-10-30 12:39] cxw42 commented on #137
@Yasujizr I just want to let you know I haven't forgotten about this.  Thanks for your patience!

[2018-11-07 06:25] bluikko opened #158 ""Close and save" button does nothing in some cases"
Clicking "Close and save" button in TabFern does nothing.

I tested opening a new window and added a few tabs - the "Close and save" button works.

The window that cannot be "Close and save"d was previously a "restored" window, which was given a name later.

How could I troubleshoot this issue to help further?

[2018-11-07 09:03] bluikko commented on #158
Sorry, this ticket was invalid. I am closing it.

[2018-11-07 09:03] #158 closed

[2018-11-09 01:56] philiprhoades commented on #155
Thanks Chris @cxw42 ,

At the beginning of the week I was here:

https://iva2018.westernsydney.edu.au

which I had been looking forward to for some time but then got an emergency case for my non-profit:

http://www.neuralarchivesfoundation.org

and had to drop everything and attend to that - so I missed the rest of the conference unfortunately.  Anyway while all that was going on I found a problem

[2018-11-10 00:36] philiprhoades commented on #155
@cxw42 ,

Yes, I will keep looking into it.

No, but it might have happened with a Vivaldi update - I am mostly switched over now . . the last few weeks is a bit of a blur actually but I seem to recall an update . .  Since I am still having problems with hardware (apparently) in my workstation, I have been doing most of my stuff on a lower-powered Zenbook . .

[2018-11-18 01:32] cxw42 commented on #137
@Yasujizr I appreciate your patience!  I prefer the top one.  I have thought about camel case vs. lowercase, and would like to keep the camel case.  Would you be willing to tighten up the logo and text, kern, and switch case?  Something like this (rough mockup) ---

![logo-thoughts-1](https://user-images.githubusercontent.com/10515894/48667586-80840400-ead1-11e8-9366-3caee1caa604.png)

Would you p

[2018-11-30 19:14] philiprhoades opened #159 "Add Tab Sorting to items in Unopened Window"
I have used various window tab sorting extensions forever but now that I am TF centric, it would be nice to also sort tabs within an unopened window.  Of course, for a window with a small number of tabs, it is still relatively quick and easy for me to open the window with ALL the tabs, sort and save - but it would be nice to be able to sort a window with a large number of tabs _without having to o

[2018-11-30 19:37] philiprhoades opened #160 "Middle Mouse Button - open tab without focus"
I am slowly getting used to single-clicking for opening tabs rather than selecting them - I would still prefer to be able to select a range with with single clicking plus SHIFT and / or CTRL keys for bulk actions - but in advance of that, it would be good to be able to open tabs with the Middle Mouse Button with changing focus so that I can selectively open a bunch of tabs quickly without having t

[2018-11-30 22:59] cxw42 commented on #104
@philiprhoades Have you turned them on?  Settings | Appearance | Tooltips - pick whether you want URL, title, or both.  Then refresh the TF window and you should see them!

[2018-11-30 23:44] philiprhoades commented on #104
Ah, yes - I had turned them both on and I had restarted TF after my post for another reason but I hadn't checked whether that had made any difference when I got back into TF - thanks!  Hmm . . it did work for some but why would it have worked for any at all then before I restarted TF?

[2018-12-01 03:02] cxw42 commented on #159
Sort by title, URL, other criteria, some combination?  Tell me a bit more about your use case.  Are you still using other extensions to sort open windows, and if so, which ones?  Thanks!

[2018-12-01 08:18] philiprhoades commented on #159
For me it would be almost always sorting by URL.

I attach an image of a TF window manually sorted - for some exercises I spend a lot of time looking at lots of different options and, typically, end up with a window with so many tabs it is hard to find my way around.  A help in these sorts of situations is grouping the tabs together for the different domains ie sorting the tabs by their URLs.

The

[2018-12-01 13:00] cxw42 commented on #159
Thanks!  Sounds pretty straightforward; labeled as such.

[2018-12-18 02:51] cxw42 opened #162 "Change button icons"
Suggested by @RiotPharaoh in #161; opening here for discussion.

![image](https://user-images.githubusercontent.com/10515894/50129189-e3d69280-0245-11e9-9564-d7305ed4fe9f.png)

[2018-12-18 02:53] cxw42 commented on #162
I am fine with Edit and Delete, but I am not sure about the proposed "Close and Save" icon.  To me it looks more like "Submit" or "Save" (without necessarily implying "Close").

[2018-12-18 13:07] cxw42 commented on #152
@Luckz Are you referring to both the window buttons and the tab buttons?  Would you like the order of the tab buttons to change to match the window buttons?

[2018-12-18 13:10] cxw42 opened #164 "Update jstree (document.registerElement deprecated)"
See vakata/jstree#2165

**Edit** As of 2019-03-19:

[2018-12-19 02:30] cxw42 commented on #146
Well, this seems to be working in Chrome 70.  Not sure what the root cause was.

[2018-12-19 02:30] #146 closed

[2018-12-23 21:06] cxw42 opened #165 "New option to scroll so that active tab is always visible in the tree window"
E.g., for windows with more tabs than will fit in the window at once.

[2018-12-26 17:07] devinrhode2 commented on #82
I have extensive experience dropping the current page into an iframe, and I will say, it can be done in a mostly acceptable way, but should be expected to break frequently and it will not work for all websites, so you'll need to add some chrome somewhere to pop the current page *out* of the iframe.

I've mostly been a chrome user the past several years but am currently partial to FF because I've e

[2018-12-26 17:17] devinrhode2 commented on #100
Looks like the steps in "Hacking on TabFern" for the switchover branch might now be right... not sure... Shouldn't a dev change to switchover branch? And branch off of switchover? https://github.com/cxw42/TabFern/wiki/Hacking-on-TabFern

Last but not least, I'm not sure how to use the built extension in firefox!

[2018-12-26 17:20] cxw42 commented on #100
@devinrhode2 Unfortunately, I haven't had a chance to work on it.  It does load as a temporary add-on without crashing, but I wouldn't consider it particularly usable :) .  I would be delighted to have some help!  Yes, if you do have any time, I would ask that you please work off `switchover` if you are able.  I am currently focused on #35 and would be delighted to include FF support in the next r

[2018-12-26 17:32] cxw42 opened #166 "Permit basic formatting in tab notes or window names"
E.g., inline-only markdown, with `img` but no `a`.  I think https://github.com/Holixus/nano-markdown can be tweaked to do this.

[2018-12-26 17:33] devinrhode2 commented on #100
I tried loading this, I have the extension icon in the top right in FF, but clicking it doesn't do anything :(

<img width="795" alt="screen shot 2018-12-26 at 11 31 44 am" src="https://user-images.githubusercontent.com/539816/50452803-ff0a6780-0901-11e9-96f1-28d0d0793a9d.png">

[2018-12-26 17:33] devinrhode2 commented on #100
(So I guess that's what the status on FF is :)

[2018-12-26 18:05] cxw42 commented on #100
Yep, those are normal (broadly defined :D).  Did you see the extension window pop up on its own?  Try double-clicking the icon and see if you get the window (double-click = summon to current browser window).

When I load the temporary extension, I get the same manifest errors, but the TF window opens anyway.

[2018-12-26 19:51] devinrhode2 commented on #100
Double clicking the icon still does not do anything for me, also tried
disabling all extensions except for stylus, restarting, and still nothing
for single/double click.

I am using FF 64.0 64-bit, on macOS High Sierra.

When I first load the extension in about:debugging, I see this:

[image: Screen Shot 2018-12-26 at 1.16.38 PM.png]

When I reload I see this:

[image: Screen Shot 2018-12-26 at 12

[2018-12-26 20:13] cxw42 commented on #100
@devinrhode2 Unfortunately, the screenshots did not come through.  However, I added a fix for the manifest issues, in case that helps.  Instead of `npx brunch ...`, say `npm run ff`.  That will build a `public-ff` tree.  Load `public-ff/manifest.json` in Firefox and see if that helps any.  Thanks!

[2018-12-26 21:34] devinrhode2 commented on #100
Original should come through now:

When I first load the extension in about:debugging, I see this:
<img width="1012" alt="screen shot 2018-12-26 at 1 16 38 pm" src="https://user-images.githubusercontent.com/539816/50456333-3f291480-0919-11e9-8d61-7d9ad23bb618.png">

When I reload I see this:
<img width="1012" alt="screen shot 2018-12-26 at 12 54 22 pm" src="https://user-images.githubusercontent.co

[2018-12-27 01:17] cxw42 commented on #100
Thanks!  The screenshots did come through.  I am on Windows, which is why I think I might be having trouble replicating.  I did try a fresh `npm install` with all my global modules uninstalled, still without successfully replicating.  I can think of three next steps to try:

1. If you have `brunch` installed globally, remove it --- I am using a tweaked version.

1. (See https://developer.mozilla.o

[2018-12-27 01:54] devinrhode2 commented on #100
1. No global brunch
2. Not working, we'll need to get creative here I think. `log.setLevel` throws a ReferenceError on `log`
3. Background.js: https://gist.github.com/devinrhode2/86ae0e9e8629ae01ccb0adb142debba4 (this is the only script that appears when I click "edit as html" in the background page)

[2018-12-27 01:54] devinrhode2 commented on #100
Some screenshots coming up..

[2018-12-27 02:00] devinrhode2 commented on #100
Showed inspecting the location.href of the extension background page, and contrasted with mashable.com - in top right there's a strange little windowing type of button that's for selecting the frame. Not available for the background page. I am surprised that the background page uses iframes though... why is that? I figure the thing to do will be to set the sub-frames to have hijacked console metho

[2018-12-27 05:07] devinrhode2 commented on #100
wow removing those added bits got the extension to just popup when I reloaded the background page!

[2018-12-27 11:48] cxw42 commented on #100
Great news!  Now is the time for `log.setLevel`.

Would you please start a new topic branch from this point for Firefox?  I'm going to do the same for issue 35.  That way we won't step on each other's toes, and the eventual PRs will be cleaner.

If you find anything I haven't listed above, feel free to ping me here or open a separate issue as you see fit.

I am going to update the wiki with some m

[2018-12-27 18:55] cxw42 commented on #100
@devinrhode2 Is this a success report or a failure report? :D
- Red X -> "actually, button press" message is normal.
- I don't know what `h0-main.js` is, or what those errors are.
- I do know that until the first item in my top comment is fixed, all the tabs will be off by one in any window created after the TF window opens :( .

[2018-12-27 18:57] devinrhode2 commented on #100
Would it be possible to export tabs from TabFern Chrome and import in TabFern Firefox?

[2018-12-27 19:00] devinrhode2 commented on #100
The h0-main.js errors were from other extensions
<img width="611" alt="screen shot 2018-12-27 at 12 59 14 pm" src="https://user-images.githubusercontent.com/539816/50491311-49114d00-09d7-11e9-853e-2f24f2261fb1.png">

[2018-12-27 19:00] devinrhode2 commented on #100
It's a success report

[2018-12-27 19:00] cxw42 commented on #100
Re. save data - yes - should be no problem.  The save-data file is just JSON.

Ideally, there should be no difference in functionality between Chrome and FF when we're done.  I certainly have not intentionally added any differences.

[2018-12-27 19:10] cxw42 opened #168 "Persist partially-open window state across TF refreshes"
Related to #35.  Currently, refreshing TF while a window is partially open defeats the merge-detection logic.  Therefore, you wind up with a fully-open unsaved-window entry for the open window, instead of the partially-open window you had.

Idea: add to the save data some window/tab ID numbers, a hash, or something else I can use to quickly check whether the tabs in a Chrome window match, in order

[2018-12-28 14:54] devinrhode2 commented on #100
Ok so I haven't switched over yet, figured out I can port active tabs by just bookmarking all tabs, but when I restarted firefox, I had some sort of "browser crashed, do you want to restore session?" from firefox, and saw this:

<img width="892" alt="screen shot 2018-12-28 at 8 43 06 am" src="https://user-images.githubusercontent.com/539816/50518934-ff2f7200-0a7d-11e9-94bf-1ef56f46b69c.png">

TabF

[2018-12-28 15:52] cxw42 commented on #100
Indeed, it may well be an interaction bug.  Not sure why the crash would have happened, though.  I just found [this](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Testing_persistent_and_restart_features) which looks like it has useful info (most notably, switch to [Developer Edition](https://www.mozilla.org/en-US/firefox/developer/) and set xpinstall.signatures.required to

[2018-12-28 16:17] cxw42 commented on #100
OK - I tried `web-ext` without success.  However, what did work for me (with commit https://github.com/cxw42/TabFern/commit/72ffa2f83f237deee4fae8c22f0f3b84cc85f6a8 on `switchover`) is:
- Install Developer Edition
- Set my homepage in Dev. Edition to `about:debugging`
Now I can start up Dev Edition, hit "Load temporary," pick the manifest from `public-ff`, and work on it.
- After making changes, I

[2019-02-01 09:22] beorn opened #169 "Don't open TabFern in big window upon initialization"
Whenever I open TabFern it opens a huge blank window first before shrinking down to the smaller size.  This is very disruptive and lasts a few seconds - wouldn't it be possible to open it up in a really small window first, or open up at the last size and location?

See screenshot attached.
![screenshot](https://user-images.githubusercontent.com/8559/52114019-e8b0a380-2645-11e9-8d16-b248dd82d17d.jp

[2019-02-03 00:57] cxw42 commented on #169
@beorn Thank you for using TF and for the feedback!  Related to #140; blocked on #35.

Short answer: yes, I certainly can!  There was a question about that somewhere (can't find it now), and the "switchover" (development) branch moves the window out of the way more quickly.  Once I have fixed #35 and rolled out the update, I'll respond here so you can see if it fixes the problem.

[2019-03-15 03:39] philiprhoades opened #170 "Help! Linux - changed user name - TabFern extension disappeared! (other extensions unaffected)"
Chris,

After a catastrophic hard disk head crash in my server at the end of Oct last year and because of carelessness / stupidity in keeping backups, I have been spending some months recovering most of the server data.  Today, as a near final reorganisation of my workstation and server, I renamed my user login from "phil" to "phr" (so the user name didn't conflict with workstation name).  This al

[2019-03-15 10:02] cxw42 commented on #170
Phil, sorry to hear it!  I'll take a look and see where my Vivaldi installation stores extension data.  My recollection is that it's in a MySQL db in the profile dir.

Does /home/phil still exist separate from /home/phr?  Could you rename your account back and then save a backup?

[2019-03-15 11:12] philiprhoades commented on #170
There doesn't seem to be a [Pp]rofile dir on my Vivaldi setup for the Default user.
/home/phil does still exist but it is basically empty now - I'm pretty sure renaming back the other way won't help - the actual extension dir itself seems to have disappeared . . I couldn't find any DB dir corresponding to TF but that might still exist but I expect if the extension code got deleted, the data / DB p

[2019-03-15 12:20] philiprhoades commented on #170
[phr@phil databases]$ sqlite3 ./Databases.db
SQLite version 3.26.0 2018-12-01 12:34:55
Enter ".help" for usage hints.
sqlite> .tables
Databases  meta
sqlite> select * from Databases ;
13|chrome-extension_eggkanocgddhmamlbiijnphhppkpkmkl_0|backupdb|Tree Backup|20971520
14|chrome-extension_hdokiejnpimakedhajhdlcegeplioahd_0|lp|LastPass Local Database|200000
15|https_www.tradingview.com_0|sqlite_ever

[2019-03-15 13:12] cxw42 commented on #170
Phil, I agree it doesn't sound promising :( .  I did check, with the following results/procedure.

0. Exit Vivaldi, and make sure nodejs and npm are installed and working.

1. Put the following script in `~/foo/extract.js`:

        // This code by cxw42 2019, CC-BY-SA 3.0.  Thanks to the sample at
        // https://github.com/Level/levelup/blob/master/README.md and to
        // https://superuse

[2019-03-15 13:12] #170 closed

[2019-03-15 13:30] cxw42 commented on #35
Too many things are blocked on 35 at this point, and tied up in the switchover to the brunch build system (#4).  I am going to pause this issue, finish the switchover, then resume work on this.

[2019-03-15 13:46] philiprhoades commented on #170
Chris,

I get:

[phr@phil foo]$ node extract.js > lgbdonjnanhdbfoglklccfkgoeklfghl.tabfern
internal/modules/cjs/loader.js:583
    throw err;
    ^
Error: Cannot find module 'levelup'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at

[2019-03-15 14:26] cxw42 commented on #170
Phil, for what it's worth, I've just changed the switchover branch so it is back to opening all tabs or none.  That is so I can push out other changes that have been blocked on issue 35.  Then I will put that feature back in.

Would you be willing to live with that restriction for a few days, try out the latest switchover on Vivaldi, and let me know if you see any bugs?  Attached if you're willing

[2019-03-15 14:28] cxw42 commented on #170
Phil, re. "levelup", did you do `npm install levelup leveldown` from step 2 in https://github.com/cxw42/TabFern/issues/170#issuecomment-473280320 ?

[2019-03-15 14:39] philiprhoades commented on #170
I did miss a step . . now I get in the *.tabfern outputs:

Ooops! NotFoundError: Key not found in database [tabfern-data]
    at /home/phr/foo/node_modules/levelup/lib/levelup.js:160:15

I'm happy to try the new version but that will not delete / overwrite any potential data that might still be there for pre.4 ?

[2019-03-15 14:47] cxw42 commented on #170
OK - unfortunately, the "key not found" means TF never saved tabs into that DB. :(  You can use the sample at https://github.com/Level/levelup#dbcreatereadstreamoptions or open the DB files in an editor and see if you find any data anywhere else, but that's the only place I know of to look (and I did test it on my own Vivaldi installation successfully).

I still think manually creating `/home/phil

[2019-03-16 01:27] cxw42 commented on #152
@Luckz @RiotPharaoh I want to let you know I decided to delay #35 and get this one and some other changes out the door first.  I have just merged #163 into the `switchover` branch, which is the current dev mainline.  I expect to release this by the end of the month!

[2019-03-16 02:00] philiprhoades commented on #170
I am using FF for these posts for the time being:

OK, now it is getting weirder . . this morning I logged out as phr, and did restore .config/vivaldi from the five-week old backup I had to the original "phil" user dir (UID 1000) instead of phr (UID 1002) . I logged in as phil and started vivaldi and except for being asked for a new keyring (the phil dir was mostly empty), it worked fine - BUT - t

[2019-03-16 02:12] philiprhoades commented on #170
I am not sure what you mean "..tfswitch/public" - I do not have a dir "tfswitch" anywhere . .

Does "As such, it should ONLY depend on the absolute filesystem path to the extension folder." mean where I extracted your original zip file (/~/src/javascript/TabFern)? - there is nothing in there but the original code - no sql DBs.  I can brute force search every sql DB in the original 5 week old backu

[2019-03-16 04:44] philiprhoades commented on #170
Getting weirder and weirder:

I made a copy of .config.vivaldi and reinstalled 0.2.0.pre4 and did a dir comparison to see what was different with files - I didn't really make any progress so I thought of creating a new user "tst" and installing from scratch - but I had a problem with getting TF to work (see below) - however when I logged out as tst and logged back in as phr and started vivaldi - t

[2019-03-16 09:11] philiprhoades commented on #170
I am continuing to experiment with the new user "tst' so I can "rm -fr .config" every time.  Since there is the issue with .4 and .5 on Vivaldi I have just installed .5 on chrome and used inotifywait to watch what happens to files when I make changes to stuff in TF windows and then exit - as far as I can tell NO TF DBs are being changed (and they don't exist as far as I can tell so far) - only log

[2019-03-16 10:55] philiprhoades commented on #170
It looks like Vivaldi might be a problem so I have switched testing to Chrome FTTB - I logged in again as phr, created a new Profile, and used:

inotifywait -r -q -m -e close_write,moved_to,create . > ./config_chrome_profile21.inotify

in the new profile dir while I installed 0.5 and saved a couple of windows and tabs.  None of the files int the output seems to be a DB but chrome+TF continue to wo

[2019-03-16 11:51] cxw42 commented on #170
Would you be willing to move this discussion to Gitter, by any chance?  I prefer its interface for extended conversation.  Let me know either way.

Your last message agrees with what I understand to be normal operation.  Looks like paicjpaedoabmihinafmkjdaneliidpg is the extension id for TF.  Chrome/Vivaldi manages the storage for all extensions, including TF.  It is creating LevelDB files LOG, MA

[2019-03-16 12:50] philiprhoades commented on #170
I have only used Gitter a couple of times but sure - anything that helps the process - do you want to start the conversation there and invite me to it or something?

[2019-03-16 12:56] cxw42 opened #171 "[Fixed in Vivaldi 3.0] Vivaldi sometimes doesn't have chrome APIs available"
### Summary

Vivaldi has a [confirmed bug](https://forum.vivaldi.net/post/278441) (VB-50853).  I have opened a [Vivaldi.net forum thread](https://forum.vivaldi.net/topic/35531/chrome-apis-intermittently-unavailable-on-2-3-1440-61-x86).

Extension to load unpacked for testing:
[vivaldi-0.2.0-pre.5.zip](https://github.com/cxw42/TabFern/files/2973974/vivaldi-0.2.0-pre.5.zip).

### Details

Originally

[2019-03-16 13:35] philiprhoades commented on #170
I have only used Gitter a couple of times but sure - anything that helps the process - do you want to start the conversation there and invite me to it or something? - OK, got started with replies for the above. . continue there - I need to eat - back there soon.

[2019-03-17 08:12] philiprhoades opened #172 "Feature request: cron job for exporting data"
Chris,

After recent dramas, it (re-)occurred to me that it would be nice to have a feature that automatically did an export of the TF data every day.

I realise this is more a wish list item compared to other higher-priority jobs but it is also occurred to me this morning that I could do what I wanted by making use of your extract.js set up and a normal cron job - so if a built-in enhancement is

[2019-03-18 04:30] r4j4h commented on #4
Hi @cxw42, life has been.. lifey. I am glad you found Brunch in the meantime. I do wonder if the weight of webpack will bring much gain over Brunch itself.

Some areas that may still benefit:

- Multiple targets. I am not sure if Brunch supports it out of the box, but we could accomplish it with separate configs and separate build commands hooking it up to each config.  webpack supports [its confi

[2019-03-18 12:40] cxw42 commented on #4
@r4j4h Thanks for checking back!  I hope things ease up and wish you the best.

Multiple targets/browser special-casing - I do have some Chrome/FF differences, but so far not too many.  Thank you for letting me know about some of the options in case we need more sophistication later.  Brunch does support custom targets, but I haven't played with that much.

Runtime loading - I hadn't thought about

[2019-03-19 11:19] philiprhoades opened #173 "After a previous problem: change from Vivaldi back to Chrome - lost TF icon again!"
Chris,

After this problem occurred (which you helped me to recover from):

https://github.com/cxw42/TabFern/issues/170

- I had assumed that the issue was from some problem with Vivaldi but now it has happened again with Chrome!

In TF I had been doing a lot of moving of tabs between windows - mostly YouTube tabs to a "YT Videos to Watch" TF window.  I had also moved a number of windows to the to

[2019-03-19 12:52] cxw42 commented on #172
Phil, TF itself doesn't have enough access to the system to run cron jobs, but you can certainly set one up as you described.  This is a design limitation of Chromium to keep extensions sandboxed.

Timed backup is open as #21, so I'm closing this one as a duplicate.

Thanks for the kind words!

[2019-03-19 12:52] #172 closed

[2019-03-19 12:54] cxw42 commented on #173
Phil, thanks for the heads-up.  I look forward to hearing more if you are able to figure something out.  I just now did a save/load settings cycle with no problems on my Chrome installation.

[2019-03-27 07:28] Luckz commented on #152
(Sorry, very late reply)
It doesn't make sense for window and tab button placement to be different from each other. So for a post- #35 world, yes, both through the same option.

[2019-03-27 12:19] cxw42 commented on #170
@philiprhoades Would you please join me on #171?  Thanks!

[2019-03-27 12:21] cxw42 commented on #171
Still a problem as of

    Vivaldi   2.4.1488.35 (Stable channel) (32-bit)
    Revision  c7d5625347d0332219e7343210ac4e6ba2a74ca5

[Changelog](https://update.vivaldi.com/update/2.0/relnotes/2.4.1488.35.html) doesn't mention VB-50853, and I was able to reproduce (although it took more tries).

[2019-03-29 16:59] cxw42 commented on #152
@Luckz thanks - done!

[2019-04-01 15:38] cxw42 commented on #137
@Yasujizr I am just about ready to release the next version of TF (https://github.com/cxw42/TabFern/tree/switchover).  Would you have time to update the logo in the next week or two?  If so, I will wait so that the new release can include the new logo.  Please let me know either way.  Thanks!

[2019-04-01 15:39] cxw42 opened #174 "Permit indenting tabs"
Currently, you can actually set a tab's note to a single space to get a bullet with no visible text.  It would be nice to be able to visually shift tabs over.  This would be a relatively simple hack (just provide a way to insert NBSPs) compared to #34.

[2019-04-01 17:37] Yasujizr commented on #137
Hi,

I've uploaded it to Google Drive. 98px, 128px, 280px and logotype in the file as svg. If there is a problem, type again.

https://drive.google.com/open?id=1gs2bIzqcmmE95CKG7msUZePXu01Ji8Jr

[2019-04-01 19:22] cxw42 commented on #137
Received with thanks!  I will add it in before the next release.  I appreciate your work on this!

[2019-04-07 23:18] cxw42 commented on #171
Still a problem as of

    Vivaldi   2.4.1488.36 (Stable channel) (32-bit)
    Revision  223d751823ecd7930e28ffe5eedcad1671775f83

[2019-04-07 23:39] #152 closed

[2019-04-07 23:39] #164 closed

[2019-04-07 23:39] #137 closed

[2019-04-07 23:39] #169 closed

[2019-04-08 12:14] cxw42 commented on #170
@philiprhoades Not really related :) , but attached is a zip of the latest, but with opening one tab at a time put back in.  If you would be willing to switch to that version, I'd appreciate it  - that way any bugs you find will be easier to fix in the current codebase.  Thanks for considering this request!

[webstore-0.2.1-pre.1.zip](https://github.com/cxw42/TabFern/files/3054181/webstore-0.2.1-p

[2019-04-08 12:15] cxw42 commented on #35
Now back to working on this after the 0.2.0 release.  You can follow development on the [issue35 branch](https://github.com/cxw42/TabFern/tree/issue35).

[2019-04-08 14:25] philiprhoades commented on #171
Chris,

I switched back to Chrome because I needed to catch up on a lot of stuff - is there anything you want me to test on Vivaldi at the moment?

Phil.

[2019-04-08 14:37] cxw42 commented on #171
Nope - I just wanted to make sure you had the latest information.  Let me know if you do switch back to Vivaldi.  Otherwise, I'll check TF each time a Vivaldi update comes out.  Thanks!

[2019-04-08 14:46] philiprhoades commented on #170
Chris,

Seems to work just fine - I opened four windows with 1-4 tabs each and a fifth window with all its tabs (4).

I backed up the data just in case before trying the new version but found it installed into a new extension anyway so now I have both versions running happily.  I will let you know if any issue shows up after closing all windows and starting again but would be surprised if that sho

[2019-04-08 14:48] philiprhoades commented on #171
Cool - thanks again!

[2019-04-10 09:46] cxw42 opened #176 "Double-check the validation code applied to data read from local storage"
I just read https://blog.acolyer.org/2019/04/10/dont-trust-the-locals-investigating-the-prevalence-of-persistent-client-side-cross-site-scripting-in-the-wild/ and it reminded me.  We have the additional protection of being an extension, but it never hurts to check.

[2019-04-10 12:39] cxw42 commented on #118
After implementing this, also track muted state?  https://developer.chrome.com/extensions/tabs#type-MutedInfo

[2019-04-11 12:02] cxw42 opened #177 ""Do not show again" for audible-check dialogs"
Blocked on #118.

Currently, the "do you want to close playing tab?" dialog boxes don't have a "Do not show again" option.

- [ ] Add such an option to those boxes
- [ ] Wherever "do not show again" is used, add text to let the user know which condition that option applies to.

[2019-04-15 13:59] cxw42 commented on #160
I agree, and am officially marking "MMB => new TF window" as a bug.  See #29.

[2019-04-15 15:37] cxw42 commented on #160
@philiprhoades Check out the latest on the issue35 branch - first version of MMB click seems to be working :D

[2019-04-16 13:06] cxw42 commented on #160
- Looks like I still need to work on the event a bit - clicking on the space next to the name (as opposed to the name itself) triggers a scroll.  Maybe the event handler needs to be applied farther down?  (Hopefully not to each `<li>`!

- If you have two windows open, plus the TF window, the current middle-click will not raise the back Chrome window above the front Chrome window.  Should it?

[2019-05-23 14:38] cxw42 opened #178 ""Open copy in new window" function"
On the right-click menu for a tab, I would like an option to open a new tab in a new window, with the URL of the clicked-on tab.

[2019-05-27 17:03] samir-s commented on #100
Hi,
I'm reporting success on FF 66.0.3
The css is kinda weird, but as far as I've tested, it's working...

Thanks god you did it !

I'd love to tip you, but didn't find anything for that on TabFern webpage...

[2019-05-28 01:12] cxw42 commented on #100
@samir-s Thank you!  I'll get right on that :D .

Please back up frequently!  I don't know what differences between Chrome and Firefox may be lying in wait to cause issues.  I look forward to any feedback you may have.

[2019-06-08 12:28] philiprhoades commented on #35
Chris,

On 2019-04-08 22:15, Chris White wrote:

I have been this version on my desktop quite happily since the last
communication but now it appears I am going to be spending more time
away from home and more time on my laptop - which I hardly ever use.  I
am away this weekend and the older #35 TabFern installed on the laptop
wasn't working so I deleted the extension from Chrome and tried to
re-l

[2019-06-08 13:30] cxw42 commented on #35
Phil, what Chrome version and what window manager?  What are the errors you are seeing?  As a reminder, after you clone and checkout, you have to `npm install` and `npx brunch b` to build into `public`.  Are the errors on the install, build, or upon loading unpacked?

[2019-06-10 06:57] philiprhoades commented on #35
Chris,

Thanks for the quick response - sorry about my slow reply - I am at my
brother's place ATM.

On 2019-06-08 09:30, Chris White wrote:

Version 75.0.3770.80 (Official Build) (64-bit)
XFCE4

Ah . . I missed a few steps - I have created a README_TabFern.txt file
now with all the prelim stuff written down for future reference . .

OK, I can now build and install the unpacked extension but I am

[2019-06-10 07:46] philiprhoades commented on #35
On 2019-06-10 02:56, Philip Rhoades wrote:

Also, I left this out:

npx brunch b

DEPRECATION WARNING on line 22, column 8 of
/home/phr/src/javascript/TabFern-switchover/app/settings/main.scss:
Including .css files with @import is non-standard behaviour which will
be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your
implementations documentation on

[2019-06-10 12:29] cxw42 commented on #35
Phil, the security warnings and deprecation warnings are on my list.  To the best of my knowledge, none of the security warnings affect us because those modules don't actually wind up in TabFern - they are only used during the build process.  The deprecation warnings are nothing to worry about per [this](https://github.com/sass/node-sass/issues/2362).

On my local machine, on branch `issue35`, I c

[2019-06-10 14:34] philiprhoades commented on #35
Chris,

On 2019-06-10 08:29, Chris White wrote:

Yes, I can load the unpacked extension but nothing happens when I click
or double-click it . .

P.
--
Philip Rhoades

PO Box 896
Cowra  NSW  2794
Australia
E-mail:  phil@pricom.com.au

[2019-06-10 15:52] cxw42 commented on #35
Seems to work fine for me on Chrome 75.0.3770.80 (Official Build) (64-bit) on Windows. Clicking and double-clicking the icon both work. On chrome:extensions, does the TabFern box have an "Errors" button? If so, what are the errors?

[2019-06-11 05:45] philiprhoades commented on #35
Chris,

For #35:
Uncaught Error: Cannot find module 'process' from '/'
 throw new Error("Cannot find module '" + name + "' from '" + loaderPath + "'");

I am travelling and won't get access to my usual email until late tonight - if you are motivated, you could cc to:

philip DOT rhoades AT gmail DOT com

Thanks!
Phil.

[2019-06-11 09:51] cxw42 commented on #35
Phil, I've run into that before, and it is related to the build, not to TF's own code.  What node and npm versions are you using on the system that has the problem?

[2019-07-19 15:13] cxw42 commented on #100
@devinrhode2 re. "cannot find module process from /" --- I now have an Ubuntu 18.04 setup and am seeing the same.  For now I am going to do the manual hack you suggested (removing the lines) :) .  If I think of anything better I'll let you know.

[2019-07-31 13:41] cxw42 opened #179 "Cannot find module "process" from "/""
Forked off of #100.  The generated background.js file throws this error.

See https://github.com/cxw42/TabFern/issues/100#issuecomment-513267574 for the current workaround.

[2019-07-31 13:41] cxw42 commented on #100
@devinrhode2 Would you please join me at #179?  Thanks!

[2019-07-31 13:41] cxw42 commented on #179
@devinrhode2 Would you please try the latest commit (https://github.com/cxw42/TabFern/commit/b8ee6e4f9a55062fd72d694ef93d8bcf6488ce80) on the `issue35` branch?  I think I may have found a fix that does not require manually editing the generated source.  Please let me know if rebuilding and loading without hand-editing works for you.  Thanks!

[2019-07-31 18:43] devinrhode2 commented on #179
Hey Chris, I have upgraded from my old MacBook Air - and while I would still love to break free from chrome, I don't have much time for anything outside work right now. (The new macbook pro I have is plenty fast enough, so I don't need firefox as much as I used to)

There is A LOT that could be done with tabs outerliner/tabs fern... there could be a web app you login to and view tabs on mobile...

[2019-08-01 01:21] cxw42 commented on #179
@devinrhode2 Thanks for letting me know!  Good luck with everything at work, and I look forward to talking again whenever you get the chance :) .  Much appreciated!

[2019-08-04 15:11] andr222 commented on #18
I use tabfern to define a set of windows, organized by subject.
Some of these windows have as many as 30 tabs.  I would like to close most such windows not currently used, in order to avoid greatly slowing my system.
I like to use all except the tabfern window at exactly the same size & position, overlayed one over the other.  I often hide open windows, using the system menu bar (tableau de bord i

[2019-08-04 22:21] cxw42 commented on #18
@andr222 Thanks for the feedback!  Would you please open a separate issue for specifying new-window size and position?  I think that is a reasonable feature and is a different issue than the defaults/on-screen here.

Currently, TF opens new windows at the size of the last-created Chrome window.  Try:

- Opening a new window (not a TF saved window)
- Navigating to Google or any site
- Sizing the wi

[2019-08-05 02:46] andr222 commented on #18
Thanks ... your method to reset where TF opens new windows works great :
Exactly the same size and the position only slightly offset (and easy to ajust).
From what you say, I just have to redo this each session.  Hopefully awaking from hibernating doesn't count as a new session.
You solved a very annoying problem.
Thanks again.

[2019-08-05 11:18] cxw42 commented on #18
@andr222 glad to hear it, and happy to help!

When you have a few minutes, would you please open the new issue anyway?  It would be a good issue for someone new to TF development to work on, and if you open the issue it is clear that there is user demand :D .  Thanks!

[2019-08-08 08:21] georgiosd opened #180 "After computer shutting down unexpectedly I lost my saved tabs :("
Is there any way to recover them???

[2019-08-08 10:30] cxw42 commented on #180
Sorry to hear that!  There may be.  First of all, have you made any backups (menu | Backup now)?  If so, you can easily get back to your last backed-up state.

If not, would you please give me as much detail as you can?  OS, browser, TF versions; what happened; what you observe now; what have you tried; any error messages in the browser console (Ctrl+Shift+I in the TF window); any popup errors TF

[2019-08-08 10:52] georgiosd commented on #180
No backups. I wrongly assumed that Tabfern would keep some sort of internal backup...

Windows 10, Chrome latest, TF 0.2.0.

Nothing "happened". Woke up and computer was frozen so had to shut it down. Rebooted, Tabfern was empty :o

No errors in devtools for TF. Tried restoring tabs from Chrome...

[2019-08-08 10:54] georgiosd commented on #180
Oh and, the "Local Extension Settings" directory has some .ldb files of about 3.5 MB each and a "lost" directory.

[2019-08-08 11:01] georgiosd commented on #180
Looks like tabs are saved in .log files but the one with last modified = today has data only about the middle and then zeros... Which must have happened when the computer shut down.

[2019-08-09 11:22] cxw42 commented on #180
Automatic backup is an open request but not yet implemented, unfortunately.  This tells me I at least need to update the docs to be more clear on that point!

Whatever you do, please first copy your profile directory as it presently stands, including the`lost` directory.  I will think about whether I can add a function that will attempt to recover data.

I looked online for Chrome-extension data r

[2019-08-09 12:19] georgiosd commented on #180
@cxw42 should be fairly easy to write the data to disk once a day or week right? You dont even need to add options for it, no one is going to complain about having some safety for a few megabytes of storage.

I did check the Previous Versions but since I dont use System Restore that was a lost cause too.

I ended up extracting as many URLs as I could from the half-corrupted file and then dowloadin

[2019-08-09 12:29] cxw42 commented on #180
@georgiosd Glad you were able to get something!  Yes, it is certainly doable, and I welcome code contributions ;) .  It is #21.

[2019-08-09 12:30] cxw42 opened #181 "Add scheduled backup reminder"
May be easier than #21 - flag the menu if it's been X days since the last backup.  Re. #180.

[2019-08-09 12:38] #180 closed

[2019-08-13 00:40] andr222 opened #182 "add option to define position, size and offset of new windows"
Currently opening a new window in tabfern seems to use the position and size of the last window closed, with an offset.
If the last window closed had an unusual position or size, the new window will open at that usual and likely unwanted position and size, with an offset.
(Issue #18 gives a workaround to correct a weird position and size, but always gives an offset on new windows)
By explicitly de

[2019-08-13 02:00] cxw42 commented on #182
Thanks!  I don't have any Chromium development experience, but I think this is reasonably within scope for TF (or a plug-in, once the TF plug-in system is designed and implemented).

[2019-08-20 07:17] git-john-one opened #183 "suggestion: batch operation like select move"
It would be nice if we can do multi-selection and batch deleting, moving between window  in the TabFern window.
Can easily organize tabs of window in seconds.

Usually i open a lot of windows with a lot of tabs and then reorganize it to save. In TabFern, we can clearly work on it. But moving one by one is really taking a lot of time. It would be nice if we can do multi-selection and batch deleting

[2019-08-20 13:10] cxw42 commented on #183
@git-john-one I appreciate the compliment!  Would you also be willing to star this repo to show your support?

No, there is not yet multiselection.  I thought there was already an issue open for that, but I can't find it, so thank you for opening this!  It is a good idea.

Related to #124.

[2019-08-27 10:27] HayStax opened #184 "Suggestion Auto Save"
Please make an option to have the extension auto save open windows and tabs and keep them when closing a windows like tabs outliner does.

[2019-09-10 13:38] XellossMetallium commented on #123
Hi, I'm a new user of both TabFern and Vivaldi, so I'll leave aside opening a new issue for what could be my inexperience at work.

One of the nicest features I found in Vivaldi is the side panel view. That seems just the right place to open TabFern: on the side, locked in position and constant during the browsing.

Yet, when I set up the custom panel, the extension won't be loaded, and only a red

[2019-09-12 01:17] cxw42 commented on #123
@XellossMetallium I haven't used Vivaldi in a while, but will take a look!

[2019-09-13 14:13] cxw42 commented on #123
@XellossMetallium Would you please open a new issue?  This is a use case I haven't tested yet, and indeed does not work!

I tried adding a new panel with the extension's URL:

    chrome-extension://hbajjpcdbninabigakflkhiogmmjaakm/win/container.html

It worked in the window I had open, but when I opened a new window, it stopped at "waiting for browser."

In the new issue, please include any detai

[2019-09-13 20:32] XellossMetallium commented on #123
You're welcome, it's well deserved! I honestly wished to replace that old
extension since forever!
I'll put a reminder for sunday when I'll be at home and I'll open the new
issue. I'll be available for testing, of course.
Cheers!

Il giorno ven 13 set 2019 alle ore 16:13 Chris White <
notifications@github.com> ha scritto:

[2019-09-16 22:29] XellossMetallium opened #185 "Vivaldi: error when adding TabFern as Web Panel"
As mentioned in #123 I experienced an issue when adding TabFern as a webpanel, the side-board integrated in Vivaldi to quickly access frequent websites.

I add the following extension link:

(it's worth mentioning that other extensions work as web panels)

the error is the following:

By the way the extension seems to be loaded, at least part of it: in the bottom right side of the web panel (as it

[2019-09-17 12:30] cxw42 commented on #185
@XellossMetallium Thanks for opening the separate issue, and for the additional detail!  By way of explanation, the menu is built-in to TF, so always shows.  The tree currently requires interacting with the browser so the TF window doesn't show itself in the tree!

[2019-09-23 13:57] cxw42 opened #186 "Don't show "restored" entries for windows with no tabs, or windows with only blank tabs"
E.g.:

![image](https://user-images.githubusercontent.com/10515894/65432005-6c431e80-dde8-11e9-8ae4-53c4d9a8aeee.png)

The tab there was `chrome://newtab/`.  A window of only such tabs or `about:blank` tabs should not be shown as a "Recovered tabs" entry since there is nothing to recover!

[2019-09-25 17:45] cxw42 commented on #145
Note: I am not a lawyer, and all of this is my best guess :) .

@r4j4h @rwexmd @devinrhode2 @RiotPharaoh raoh @Procyon-b

Thank you again for contributing to TabFern!  I would like to clarify that the project is CC-BY-SA 3.0+ ahead of Hacktoberfest.  Please let me know if you have any concerns, or reply if you agree.  Some details follow.

- I used lots of code from Stack Overflow, and that code w

[2019-09-25 21:34] rugk commented on #100
I assume you already know https://developer.mozilla.org/docs/Mozilla/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension

[2019-09-26 01:34] cxw42 commented on #100
@rugk Yes, indeed, but thanks for checking!  Do you happen to have any bandwidth to help out? :D

The differences TF runs into are largely undocumented assumptions.  E.g., in Chrome, a window always has at least one tab, but that's not the case in Vivaldi.  In Firefox, the extension can't manipulate any `about:debugging` tab, unlike in Chrome.

[2019-09-26 08:06] rugk commented on #100
I may have a look. Though [seeing that it has already worked](https://github.com/cxw42/TabFern/issues/100#issuecomment-496267314) and I don't exactly know what is still TODO here.
I see these tick boxes in the OP, but do all of them need to be solved?

[2019-09-26 10:32] cxw42 commented on #100
@rugk Thanks for considering!  Yes, all of the check boxes at the top are things that need to be fixed before the general public can use TF on FF.  There may be others that will show up once those are done.

Sometime in the next few days I am going to make what is now the `issue35` branch the mainline, so that's the branch to look at if you're investigating.  The license will be clarified to CC-BY

[2019-09-26 13:35] Procyon-b commented on #145
It's OK for me.
Let me know if you have more text to translate. (maybe you've already asked - see below)

note: I wasn't using/connecting_to github for the most part of this year. At least since the end of january. And I had inadvertently disabled notifications.  :(
So sorry if I missed previous messages.

[2019-09-26 13:52] cxw42 commented on #145
@Procyon-b Thanks for the reply!  No worries --- I haven't sent you anything :) .  But thank you for letting me know!

[2019-09-27 00:20] #118 closed

[2019-09-27 01:46] cxw42 opened #187 "Update the screenshots in the README and github.io page"
The ones we currently have are over a year old!  Make some new screenshots.  Bonus points for including demoscene web sites in your list :) .

The README is in the `master` branch.  The github.io site is in the [gh-pages branch](https://github.com/cxw42/TabFern/tree/gh-pages).  It uses Jekyll as the site generator --- see [GitHub's docs](https://help.github.com/en/articles/using-jekyll-as-a-static

[2019-09-27 01:48] cxw42 opened #188 "Update the theme of the TabFern web site"
If you have HTML and CSS chops, roll a new Jekyll theme for the [TabFern web site](https://cxw42.github.io/TabFern/)!  Please check it on mobile and desktop before finalizing your PR.  I am happy to try out and discuss a draft PR if you wish.

[2019-09-27 03:11] sarthakpranesh commented on #188
Hey, I would like to help you get a new website running.
Please do let me know what are you looking for and how should I start the work ( by making a new branch or forking )

[2019-09-27 07:04] rugk commented on #100
CC licenses should not really be used for software. (they are intended for everything else) Rather use something like GPL instead then.
Also this trademark claim in the license file is a little strange. Did you really register a trademark?

[2019-09-27 08:09] ahonn commented on #186
@cxw42 I can work on this

[2019-09-27 11:32] cxw42 commented on #100
@rugk That discussion is at #145

[2019-09-27 11:37] cxw42 commented on #145
@rugk This project was built on SO answers, so its licensing has to be compatible with SO's license (again, as far as I know, not being a lawyer).  I agree that a different license would be better for SO, but that's not my decision.

Trademark claims are normal for software - e g., Linus owns the mark for Linux (or used to).  My understanding is that common-law trademarks provide some protection,

[2019-09-27 11:41] cxw42 commented on #188
Thank you!  Please fork gh-pages.  The only visual guidance I have, unfortunately, is the TF logo and font - see #137 .  @Yasujizr any suggestions?

Please leave the site content largely as it is for this issue.  It can be broken into multiple pages if you wish.

[2019-09-27 21:27] Procyon-b opened #189 "TF window opening outside the display"
I recall reading another issue mentioning this bug, but I can't find it.  (**Edit from cxw** #18 and #141 are closest; also related to #111)

I'm running chrome with TF on a small screen (1280x800). It works well for everything but all windows are maximized (not TF obviously). It's probably the reason for this bug to happen: I have used TF on another computer with a much bigger display, chrome not

[2019-09-28 01:59] cxw42 commented on #189
Yes, there is another issue open - I'll find it.  You can also double-click the TF icon in any Chrome window to summon the TF window to that Chrome window.  Position backup is an interesting idea - we could theoretically support any number of saved window positions.

[2019-09-28 02:04] Prateek93a commented on #187
@cxw42 So only the TabFern extension image and the backup and restore image has to be changed?

[2019-09-28 02:13] cxw42 commented on #187
@Prateek93a Yes, at minimum.  If you are able to make some larger screenshots for the Chrome Web Store page, that would be a bonus!

[2019-09-28 02:27] Procyon-b commented on #189
But the size and position wouldn't be identical to the previous saved infos (IIRC).

exactly what I though

[2019-09-28 03:13] Prateek93a commented on #187
@cxw42 Can I take up this issue for the Hacktoberfest contest?

[2019-09-28 10:17] rugk commented on #145
https://opensource.stackexchange.com/q/1717/5802

As it is explained there, you can (one-way!) move from BY-SA 4.0 to GPLv3.
Also short code snippets from SO can be regarded as excerpts under fair use.

(IANAL)

[2019-09-28 11:28] cxw42 commented on #145
@rugk interesting!  What about CC-BY-SA 3.0, since that's everything I've used so far from SO?  There's also the open 3.0/4.0 situation raised by https://meta.stackexchange.com/q/333089/274096 .

I would not have been able to start this project without SO content - I didn't know enough at the time!  I agree that a different license would be preferable, but don't see that I have much choice.  I wel

[2019-09-28 11:29] cxw42 commented on #189
Summon changes position but not size, as I recall.  Anyway, PRs welcome! :)

[2019-09-28 11:29] cxw42 commented on #187
Sure - I figured that was why you were asking :D .  Thanks!

[2019-09-28 11:34] Prateek93a commented on #187
Ok 😅

[2019-09-28 12:53] Procyon-b commented on #189
;)

I'll look into it, and see what I can do.

[2019-09-28 13:27] Procyon-b commented on #189
I've just got the error right now, and despite the stored value of `{"height":200,"width":160}` , when I double click, the size is not that at all. I think it's window 7 that is shrinking the window when it opens it outside the viewport.

[2019-09-28 14:07] cxw42 commented on #189
Related to #111 and #141, but neither is exactly the same as this one :) .  I'll tag it.

Summon is:

https://github.com/cxw42/TabFern/blob/27d8b2d71f59f34e7fcc7320162b77c10d044e98/app/bg/background.js#L61-L83

So, yes, summon does currently clip size based on the Chrome window to which you summon it.

So the backed-up position is (3,2) --- where did the window appear?  If you do a `chrome.windows

[2019-09-28 14:50] Procyon-b commented on #189
I'll check `chrome.windows.get` as soon as I get the error again.

Here is the procedure I always follow when closing chrome:

I close all windows one at a time, always finishing with my first/main window (if it has pined tabs).
Then the only window opened is TF; Sometimes minimized at the time (but I "restore" it); and I close it.
I close TF last to prevent "Recovered tabs" from appearing.

The s

[2019-09-28 15:05] Procyon-b commented on #189
[code]

[2019-09-30 00:54] cxw42 commented on #189
That `-32000` is definitely not right :) .

I had one thought - in two places, we `getWindowSize(window)`:

https://github.com/cxw42/TabFern/blob/27d8b2d71f59f34e7fcc7320162b77c10d044e98/app/win/main_tl.js#L2953-L2981

In that code, `window` is `static/win/main.html`.  What we actually care about is the size of the container --- `static/win/container.html`.  I wonder if we are sometimes getting a

[2019-09-30 00:56] cxw42 commented on #189
We can probably do that for `-32000` :) .  But eventually monitors will be that large, and the code will break!  I am hoping we can figure out the root cause of the `-32000`.

If worst comes to worst, we can make a profiling version of TF and run a timer to check every frame whether the numbers have gone wonky.  That would get us closer (at a rather severe cost).

[2019-09-30 01:37] Procyon-b commented on #189
I've checked.
When TF windows is minimized,
[code]
consistently gives `{"tabfern-window-location":{"height":27,"left":-32000,"top":-32000,"width":160}}`, and once restored, `{"tabfern-window-location":{"height":750,"left":3,"top":2,"width":281}}`

[2019-09-30 02:04] cxw42 commented on #189
Ah!  Yes, indeed --- that's a leftover from Win95, as I recall (nope - WinNT - [Old New Thing](https://devblogs.microsoft.com/oldnewthing/20041028-00/?p=37453)).  I see also [this SO question](https://stackoverflow.com/q/31755601/2877364) about the same.  Well, whaddya know!

### Confirmed!

With the developer console set to `tree-iframe (main.html)`, and the TF window visible:

    alwaysOnTop: f

[2019-09-30 02:13] cxw42 commented on #18
Of the two items listed in the original post, one is done, and the remaining one appears to be the same as #141.   Therefore, I am closing this in favor of #141.

[2019-09-30 02:13] #18 closed

[2019-10-01 00:20] philiprhoades opened #190 "TF Stand-alone Android app?"
TF is Central to how I deal with jobs / projects now and this works very well when I am home on my workstation (WS) but I would like better access to my TF tab tree when I am travelling or just out for a while.  When I am travelling and have time to use my laptop, I import my exported TF tree from Google Docs and that works reasonably well (I don't usually need to make changes and re-save) but it

[2019-10-01 00:39] philiprhoades commented on #190
Actually, now that I think about it - it would be good to have TFs on multiple devices that can read and write shared data from the cloud.

[2019-10-01 02:12] cxw42 commented on #190
@philiprhoades Glad to hear TF continues to work for you!  Interesting idea!

- Cloud backup/restore is open as #76.
- I have not written any Android apps myself.  I know you can use embedded Web controls in an Android app, but I don't know if they support the Chrome extension API.
- Android does have a built-in expandable list view which would work until #34 is implemented.  I found [an article](

[2019-10-01 02:14] cxw42 commented on #188
Please see [updated contribution guidelines](https://github.com/cxw42/TabFern/blob/master/CONTRIBUTING.md#Legal).  Thanks!

[2019-10-01 02:14] cxw42 commented on #189
Please see [updated contribution guidelines](https://github.com/cxw42/TabFern/blob/master/CONTRIBUTING.md#Legal).  Thanks!

[2019-10-01 02:14] cxw42 commented on #187
Please see [updated contribution guidelines](https://github.com/cxw42/TabFern/blob/master/CONTRIBUTING.md#Legal).  Thanks!

[2019-10-01 02:14] cxw42 commented on #186
Please see [updated contribution guidelines](https://github.com/cxw42/TabFern/blob/master/CONTRIBUTING.md#Legal).  Thanks!

[2019-10-01 03:12] philiprhoades commented on #190
Chris,

Thanks for the fast response again! - see inline comments:

On 2019-10-01 12:12, Chris White wrote:

OK, I will check that out - I think I am still on an old version of TF
from source - I had hassles getting TF working on my laptop when I was
away but have since been messing around with containerised apps on
Fedora SilverBlue on the laptop when I get time . . so getting TF
working there st

[2019-10-01 10:41] cxw42 commented on #190
If you do decide to make it an intro project, let me know!  I would be happy to help test.

#76 is not yet implemented, so don't worry - you're not missing anything there.

[2019-10-01 16:25] Procyon-b commented on #189
I have tried a fix on a clone of the current version 0.2.0.1340. It works.
The fix relies only on verifying the value `.state == 'normal'` (from `chrome.windows.get(my_winid, ...` ).
`eventOnResize(evt)` and `timedResizeDetector()` still get their values from `getWindowSize(window)`.

Question:
Can we retire `getWindowSize()` entirely?
`basicInit()` would also need to be modified.
`chrome.windows.

[2019-10-01 21:42] cxw42 commented on #189
Win7 32 should be fine - windows git and Cygwin both still support x86, as far as I know.

I think using only `chrome.windows.get` would be fine for this.  The async has only been an issue for me in the past in drag-and-drop code.

Thank you!

[2019-10-04 01:47] cxw42 commented on #186
Note for future readers: the solution @ahonn provided was to skip saving the blank tabs rather than to adjust the way they are loaded.  That is not quite what I was thinking, but I believe it will have the desired result!

[2019-10-05 13:40] cxw42 commented on #186
@ahonn I am sorry to say I have just found a regression due to #191.  To reproduce:

- Open a Chrome window, and make sure it has an `about:blank` or `chrome://newtab` tab open.
- Make sure the TF window is open.
- Close the TF window.
- Click the TF toolbar button to re-open TF.

Expected: The TF tree shows one copy of the Chrome window

Observed: the TF tree shows two copies of the Chrome window

[2019-10-06 03:24] ahonn commented on #186
Yes, I can work on. And I open a new PR #193. Before calling `createNodeForClosedWindowV1 `, make sure the window not only includes `about:blank` or `chrome://newtab`

[2019-10-07 14:42] sarthakpranesh commented on #188
Sorry for taking too long, was taken up by some academic stuff

I have updated the site but I wasn't able to understand the already existing environment the previous site was hosted on so I only did changes to the following folders and files:-
 - index.html
 - assets

*for testing purpose I used the live server extension on vsCode

Also attaching a video link showing the current site ( please let

[2019-10-09 02:15] cxw42 commented on #188
The video looks good - the theme is nice and clean!  I would be happy to have a PR.

Development is on the `jekyll` branch.  Sorry I hadn't documented the process yet!

- Clone TF and `git checkout -b newsite origin/jekyll`.
- Make a GitHub personal access token, e.g., following the instructions [here](https://mycyberuniverse.com/fixing-jekyll-github-metadata-warning.html).
- Set the `JEKYLL_GITHU

[2019-10-24 15:48] sarthakpranesh commented on #188
Sorry for taking so long..........

I'll like to propose a non-Jekyll solution. The site is fairly simple and hence I believe it's deployment should be kept even more simple.
I would like ZEIT solution ( https://zeit.co/ ). Deployment on ZEIT is quite simple and does not require any prior configuration. Plus no code will be required to be maintained for any deployment making the site liter and eas

[2019-10-27 21:06] cxw42 commented on #188
@sarthakpranesh Thank you for telling me about ZEIT!  For now I will stay with GitHub pages, but I may use ZEIT in the future.

[2019-10-27 22:49] cxw42 opened #196 "Figure out if we need to do anything with SameSite cookie settings"
In Chrome 77, the Errors panel in `chrome://extensions` shows warnings about non-`Secure` `SameSite` cookies.  As far as I can tell, we don't need to do anything, since we don't process cookies directly.  (It looks like these are coming in when we request the favicons for the tree.)  However, the warnings do clutter the Errors panel.  Is there anything we can or should do?

Links:

- https://www.c

[2019-11-03 18:21] #188 closed

[2019-12-14 14:42] Procyon-b commented on #196
I have discovered recently, when playing with tampermonkey's settings, that chrome has a protocol for that.
Try `chrome://favicon/https://github.com/`

[2019-12-22 01:15] cxw42 commented on #196
Thanks!  I'll take a look.  Do you think we can replace all of the icon URLs in the tree?

[2019-12-22 02:00] Procyon-b commented on #196
After some testing I know that chrome won't fetch unknown favicons, but use a placeholder.
It will display anything that it has in memory or used in a tab.

[2019-12-22 04:06] cxw42 commented on #196
OK- thanks for investigating!  That suggests to that we still need to use the regular URLs in the tree, since icons should still be valid even long after the last visit to the site.

[2019-12-22 14:44] Procyon-b commented on #196
Tampermonkey gives the possibility to use services for .ico
I have it set to use duckduckgo. For example: `https://icons.duckduckgo.com/ip2/www.alternityrpg.net.ico`
I don't know if it is 100% efficient or not

[2019-12-28 20:42] cxw42 opened #198 "Chrome 79: opening a tab in a partially-open windows leaves new_tab.html visible"
### Bug

Steps:

- Open a single tab in a saved multi-tab window
- Click to open another tab

Expected: the tab opens

Observed: a blank tab opens (and appears in the tree) showing the `chrome-extension...new_tab.html#id` URL.

**Edit** the underlying issue also prevents you from opening the Settings dialog in the currently-released version.
### Initial observations

In Chrome 79, onTabCreated hap

[2019-12-28 20:44] cxw42 commented on #173
@philiprhoades I'm going to close this for now.  If you have more data, feel free to re-open.  Thanks!

[2019-12-28 20:44] #173 closed

[2019-12-30 03:10] philiprhoades commented on #173
@cxw42 ,

No worries - this particular issue has not been a problem again but there is another almost trivial issue with blank FT tabs being opened on my Fedora workstation but I am away again ATM and will have a closer look at it when I get back home to in a few days.

[2019-12-30 14:21] cxw42 commented on #173
@philiprhoades Thanks!  It might be #198 , which I just ran into a day or two ago.

[2020-01-07 09:49] philiprhoades opened #199 "#35 again - recent issue"
Chris,

I saw on:

Open/close tab-by-tab · Issue #35 · cxw42/TabFern
https://github.com/cxw42/TabFern/issues/35

that this feature is now supposed to be on the Master fork but when I installed that opening one tab at a time still did not work for me so I went back to 0.21 to report this issue.

Recently - and I am not sure what might have caused it - opening the first tab in a window will work but

[2020-01-07 11:08] cxw42 commented on #199
Yep - thanks for the confirmation!  Closing as duplicate of #198

[2020-01-07 11:08] #199 closed

[2020-01-07 11:10] cxw42 commented on #199
I believe I'll be working on this starting next week (2019-01-12), for what it's worth.

[2020-01-07 12:23] philiprhoades commented on #198
Ah right - I did see #173 but must have skimmed it too much and not recognised it as the same issue . .

Thanks!

[2020-01-07 12:24] philiprhoades commented on #199
Cool!

[2020-01-28 00:30] philiprhoades commented on #199
Chris,

How did you go?  Any progress?  Can I help debug or anything? - if you can point me to the right place I could step through code in the debugger and see what I can find?

Thanks,
Phil.

[2020-01-28 01:29] cxw42 commented on #199
I'm sorry to say I haven't had a chance --- things have been busier than I expected.  I appreciate your offer of debugging assistance!  I know what the problem is, but getting a large enough block of time to work on it has been a challenge.  If you know any JavaScript developers, what I need most is another pair of hands on the coding!

I have blocked off some time on the calendar this weekend to

[2020-01-28 01:41] philiprhoades commented on #199
Chris,

I do know someone actually - Michael is the son of an old friend of mine - unfortunately he is really busy but he might still be interested - I will contact him.  I do need to make some progress learning JS myself so if Michael is interested, I might try and co-operate with him a little to see if I can get more familiar . .

Back soon . .

P.

[2020-02-02 15:43] cxw42 commented on #198
@philiprhoades after further investigation, it looks like the problem was simpler than I realized :) .  `master` now has a barely-tested fix --- b7b2ba4.  Would you please try it and let me know how it goes?  Thanks!

[2020-02-02 21:41] cxw42 opened #200 "Close/reopen tab, and the action buttons are in the wrong place"
Repro:

- Close the rightmost tab
- Ctl+Shift+T to reopen it

Expected: the action buttons for the reopened tab line up with the others

Observed: they don't

Notes: The vnRezTab redraws don't affect the action buttons since they don't exist yet at the time vnRezTab is called.  I'm not sure off-hand why this only affects the last node, but it's easy to hack.

[2020-02-02 21:48] #200 closed

[2020-02-18 18:28] cxw42 opened #201 "Clicking "X" on a tab scrolls the TF window to the right"
- OS: Ubuntu 18.04.3 LTS
- Browser: Chromium 80.0.3987.100 (Official Build) snap (64-bit).
- TF version: 0.2.1-pre.3 (rc; 9fef7d1)

Sometimes, when I click the red X to close a window with a tab title longer than the TF window is wide, (1) the TF window (1) scrolls to the right and (2) the action does not take place.  I don't see anything in the debug console when this happens, except that I get a

[2020-02-22 02:20] cxw42 commented on #201
Same behaviour on Lubuntu 19.10 x64.

[2020-02-22 02:53] cxw42 commented on #201
It appears to happen on the focusout event, when the native `focus` event is triggered on an `.jstree-anchor.jstree-hovered` (the item with the icon and text).

[2020-03-06 20:50] Procyon-b opened #202 "[See #196] Favicons of extension's pages in the tree view"
Apparently, chrome gives access to favicons of extensions. I haven't found any documentation, but by analysing the bookmark manager's source code, I came upon this url scheme:

for TF: `chrome://favicon/size/16@1x/chrome-extension://hbajjpcdbninabigakflkhiogmmjaakm`
for tampermonkey: `chrome://favicon/size/16@1x/chrome-extension://dhdgffkkebhmkfjojejmpbldmpobfkfo`

You can change the size by modif

[2020-03-22 01:21] cxw42 commented on #201
During or after processing of a focus event on div#maintree, a#jN_NN_anchor's native focus() method is called.  That is what makes the scroll happen.

[2020-03-22 03:22] cxw42 commented on #201
6583f2c is a usable workaround: jstree's `ellipsis` property and some custom CSS.  It's not ideal; there's still some horizontal jump.  However, the jump is much smaller.

I hypothesize that the behaviour of `focus()` on elements wider than the browser window has recently changed.  The anchor elements were previously wider than the window for long titles, and are now narrower than the window.

[2020-03-22 16:28] cxw42 commented on #199
I do need some front-end developer help with #201 - my workaround isn't ideal :) .

[2020-04-18 17:48] andr222 opened #204 "When start chromium based browser, all windows are merged"
tabfern version 0.2.1
1. The browser in question is closed, with no windows open
2. Tabfern is already installed, with various tabs in 2 or more windows.
3. When the browser is opened, all the various tabs appear in the same window

This occurs with Vivaldi, Chromium, and Brave.
Note that if the browser in question is open, opening a new window is according the default configured for the browser i

[2020-04-18 19:09] andr222 commented on #204
Correction
With Vivaldi, not ALL the windows in tabfern were merged.
But it seems that all recently used windows were merged.
Many windows not used in the last few weeks were NOT merged.
I tend to leave the most recently used windows open under tabfern, but close most others.

So are all the windows still open when the browser is closed being merged ?

Note that the tabs are opening in a new windo

[2020-04-19 17:24] cxw42 commented on #204
Thanks for reporting!  Would you please tell me the version information from `about:version` for each browser?

Are there any error or warning messages in TabFern's developer console?  In Chrome, click on the TF window and hit ctl+shift+i. Much appreciated!

[2020-04-19 23:36] andr222 commented on #204
For chromium :
version  81.0.4044.92 (development build) Mageia.org 7 (64 bits)
ctl+shift+i + click on console tab
display of console page follows
--------start display
container.js:187 TabFern common.js loading
container.js:11516 TabFern: running app/win/container.js
main.js:187 TabFern common.js loading
main.js:34277 =============================================================
Loading TabFern 0

[2020-04-19 23:40] andr222 commented on #204
vivaldi version = 2.4.1488.40 (stable channel) (64 bits) on linux
ctl+shift+i + click console tab
-----console display start
TabFern common.js loading
container.js:11516 TabFern: running app/win/container.js
main.js:187 TabFern common.js loading
main.js:34277 =============================================================
Loading TabFern 0.2.1 from app/win/main_tl.js
    manifest ver 0.2.1.1337

[2020-04-19 23:45] andr222 commented on #204
Brave  version 1.3.118 chromium: 80.0.3987.116 (official build) (64 bit)
ctl+shift+i + click console tab
------start display
TabFern common.js loading
container.js:11516 TabFern: running app/win/container.js
main.js:187 TabFern common.js loading
main.js:34277 =============================================================
Loading TabFern 0.2.1 from app/win/main_tl.js
    manifest ver 0.2.1.1337

[2020-04-19 23:50] andr222 commented on #204
Hope this helps.
It would be nice to know where the tab list is stored.
Or how to export it.
I would like to transit from vivaldi to brave and chromium, without losing all my tabs, if possible.  Vivaldi isn't open source, the others are.
Thanks

[2020-04-20 01:34] cxw42 commented on #204
Export is on the hamburger menu - Backup Now :) .  There is no other data stored about the tabs, and a backup file from one browser should be loadable on another (it's JSON).

Thanks for the info!  Nothing odd in the console, so I'd like to next try the standard remote-debugging questions.

- if you create a new browser profile with only TF loaded, does the problem occur?

- on your existing profi

[2020-04-21 03:15] andr222 commented on #204
I only had one other extension in Vivaldi, and disabling it had not effect on problem.
(there were no extensions installed by default)
Disabled the several extensions in the brave (all but one installed by default), yet to test.
Disabled the several extensions active in chromium (all installed by default), yet to test.
Will complete testing soon.

[2020-04-21 03:20] andr222 commented on #204
I'm quite busy with the virus crisis.
Otherwise I would like to help with JS, but I'm far from an expert.
Also I'm not familiar with the chromium environment.

[2020-04-21 10:44] cxw42 commented on #204
Thanks for the updates and for testing!  I completely understand.

[2020-04-25 13:14] cxw42 commented on #145
@r4j4h @devinrhode2 @RiotPharaoh Bump - CC-BY-SA 3.0+ OK with you?

[2020-04-26 09:53] davidelang opened #205 "please throttle opening tabs"
on chrome/brave if you open too many tabs/windows at a time, it gets stuck on some lock and performance slows to a crawl, for me this seems somewhere around 100 or so tabl (sometimes more, sometimes less)

please add an option to throttle how fast tabs get opened, possibly trying to detect that a tab has finished loading, possibly just time based

[2020-04-26 12:22] cxw42 commented on #205
A very reasonable request!  PRs welcome :) .  This will also be less problematic once #35 is finally rolled out, and that's the next thing on my list.

Thanks for using TF and for the feedback!

[2020-04-26 21:54] cxw42 commented on #171
I can no longer reproduce this bug in Vivaldi 3.0! \o/  If you have experience it, please try updating Vivaldi.  I will leave this issue open for a bit so folks have a chance to see the update, but other than that the issue is closed.

[2020-04-26 21:55] cxw42 commented on #205
Related to #51

[2020-04-27 01:09] philiprhoades commented on #171
I eventually went back to Chrome so couldn't say if this is stil a problem . . if something has changed in Vivaldi and it is no longer a problem then closing the issue is good.

[2020-04-27 01:18] philiprhoades commented on #76
Currently I run my own qbackup.sh which as well as doing a local backup, makes use of rclone (an rsync derivative) to put new / changed files my TF backup dir onto Google Drive - obviously rclone needs to do a login to GD for this .

[2020-04-27 01:27] philiprhoades commented on #34
This would indeed be an enhancement but actually, since shifting to TF I have found that being forced into a "flatter" (narrower?) structure has had some advantages in terms of navigation . . #35 remains a higher priority for me . .

[2020-04-29 16:37] Procyon-b opened #206 "Support for dynamically changing language"
I have added the possibility for the user to select the interface language of his choice.

You can download my "select-lang" branch. It is based on "rc" which apparently is the current released code.
3 files have been modified to add options, and to handle the use of the correct "message.json" files.

**Settings**:
- the language option is added under the "appearance" section. The current supporte

[2020-04-30 12:06] #171 closed

[2020-04-30 12:07] cxw42 opened #208 "0.2.1: "Action-button order for windows" empty on the Settings screen"

[2020-04-30 12:09] cxw42 commented on #206
Sounds interesting!  Would you please open a PR so we can discuss there?  Thanks!

[2020-05-01 15:29] cxw42 commented on #206
Haven't had a chance yet, but I plan to

[2020-05-01 15:31] cxw42 commented on #206
Related to https://github.com/cxw42/TabFern/issues/135#issuecomment-415035168

[2020-05-01 20:05] Procyon-b commented on #206
By the way, I forgot to mention that I'm unable to access `https://github.com/frankkohlhepp/fancy-settings`.
Is it a private repository?

[2020-05-02 04:01] philiprhoades opened #209 "Looking at Brave once again - opening "Settings and Offline Help" does not work"
People,

I periodically look at Brave to see how it is developing and although the Linux RPM version has not changed recently, I couldn't remember why I didn't keep using Brave from the last test . . there was a problem of some sort because I would like to be making more use of it . .

Anyway, I decided to have another look at it and, of course, I need TF installed for Brave to be at all useful fo

[2020-05-02 04:07] philiprhoades commented on #199
Michael didn't get back to me so I am assuming it was his (young person) unusbtle way of saying he was too busy with his own stuff . . unfortunately . .

[2020-05-02 04:34] philiprhoades commented on #198
I installed the latest from the Chrome Web Store (is that the same as  8e1c3aa ?) but that does not allow me to open individual tabs . . also it seems to be duplicating tabs . .

[2020-05-02 14:18] #201 closed

[2020-05-02 14:18] #189 closed

[2020-05-02 14:26] cxw42 commented on #199
Thanks for asking him - I appreciate your trying!

[2020-05-02 14:30] cxw42 commented on #198
0.2.1 is 441cc92.
- The Web Store version does not have individual-tab opening --- you still have to use a dev build for that.  The code is in there, and variable `ISSUE35` in app/common/setting-definitions.js controls whether it's enabled.
- Duplicating tabs: would you please see if that sounds like #204?

[2020-05-02 14:54] cxw42 commented on #209
It's still opening the new_tab.html pages?  0.2.1-pre.1 is fairly old - please:
- checkout `master` (3d976e9)
- edit  app/common/setting-definitions.js and change `ISSUE35 = false` at the top to `ISSUE35 = true`
- rebuild
- let me know if you still have problems.

Thanks!

[2020-05-02 14:58] cxw42 opened #210 "Put commit hash in window title when in dev mode"
Inspired by https://github.com/cxw42/TabFern/issues/198#issuecomment-622667516

[2020-05-02 16:06] cxw42 commented on #198
I've been using 0.2.1 for several days now and haven't experienced this.  Closing - let me know if you experience this specific problem (new_tab.html tabs) again.

[2020-05-02 16:06] #198 closed

[2020-05-02 16:11] cxw42 commented on #162
RiotPharaoh or the watchers - any thoughts?

[2020-05-02 18:16] cxw42 commented on #206
No, as far as I know fancy-settings has disappeared.  I got it from a copy of the code in the repo I used as a template for this extension ([here](https://github.com/altryne/extensionizr/blob/master/ext/src/options_custom/README.md)).

[2020-05-02 18:22] cxw42 commented on #204
By the way, do you have two versions of TF running at the same time in one browser?  E.g., the Web Store version and also a development version?  I was doing that a few minutes ago and noticed some odd behaviour.  Unfortunately, I haven't been able to reproduce it.

[2020-05-02 18:54] cxw42 commented on #206
I looked at your changes and generally do not object.  I would like to discuss in a PR whenever you have a chance to open one.  Thanks!

[2020-05-02 19:07] cxw42 commented on #187
@Prateek93a I'd still be interested in accepting your contribution if you are willing!  If not, please let me know so I can un-assign you.  Thanks!

[2020-05-02 19:07] Procyon-b commented on #206
I'll submit a PR. I'll also look at the source of fancy-settings to see what king of syntax it accepts.

I find the possibility to change the language more interesting now that in my extension (beta) I've added the possibility for the user to add his own locale. It can help the translator to test the conversion of the locale to his own language. And it can be useful for new users when a locale exi

[2020-05-02 19:09] cxw42 commented on #150
Having not heard anything further, I am going to close this.  If you have problems again, feel free to reopen!

[2020-05-02 19:09] #150 closed

[2020-05-02 19:13] cxw42 commented on #4
Closing since Brunch (with one minor tweak) is working for me at this time!  @r4j4h I hope all is going well and COVID isn't getting you down!

[2020-05-02 19:13] #4 closed

[2020-05-03 02:26] andr222 commented on #204
No, I have just the one (web store) version.  The same in each browser.
I've been occupied with urgent house repairs lately, as well as the various covid delays, so haven't had the time & energy to continue testing.  But intend to soon.

[2020-05-03 23:41] cxw42 commented on #204
No worries - at your convenience!  I hope everything on the house turns out OK.  Thanks for the update!

[2020-05-04 05:45] philiprhoades opened #211 "Creating a TabFern Build environment"
People,

I have a few issues to respond to but before I did I thought I would get a reliable TF build situation going which I thought would clarify how I should respond to some of the issues.  However, I had trouble following the stuff here:

https://github.com/cxw42/TabFern/blob/master/CONTRIBUTING.md

- getting an error on my Fedora Linux setup.  I try really hard to direct installs of software,

[2020-05-04 11:16] cxw42 commented on #211
Phil, would you please attach the referenced log file, and the steps that got you to the npm install?

I think a containerized build is a good idea!  The build system in general is #4.

[2020-05-04 23:23] Procyon-b commented on #206
I've updated my branch.
It is base on your "rc" which has now disappeared (merged in master ?). Do I create the PR on "master"?

Here is a list of modifications so far (I'll repeat in the PR):
- updated `manifest.js` to support localization: `future_i18n()` tries to get localized string from `_T()`
- A bunch of strings in `manifest.js` now call `future_i18n()` with 1 or more optional parameters: s

[2020-05-04 23:56] cxw42 commented on #206
Yes, I merged `rc` into `master`.  No worries --- if there are any conflicts, we can fix them in the PR.  Sounds like a good chunk of work --- I really appreciate it!

[2020-05-05 00:19] Procyon-b commented on #206
I've encountered a problem with `npx brunch w` it didn't caught the modifications of `settings/__custom.css`.
I had to stop/start the process each time. It took me a minute or two to realize.  ;)

[2020-05-05 01:37] cxw42 commented on #202
Merging into #196